---
import CartContent from './CartContent.astro';

interface Props {
  id: string,
}
const { id } = Astro.props;

const titleCart = "Корзина";
const titleCloseCart = "Закрыть корзину";
---

<cart-sidebar>
  <div class="drawer drawer-end">
    <input id={id} type="checkbox" class="drawer-toggle" />
    <div class="drawer-side">
      <label for={id} aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="flex flex-col bg-base-200 min-h-full w-85 sm:w-90 p-4">
        <!-- Sidebar title -->
        <div class="flex items-start justify-between">
          <h2 id="drawer-title" class="text-lg font-bold">{titleCart}</h2>
          <div class="ml-3 flex h-7 items-center">
            <label for={id} class="cursor-pointer hover:text-gray-500">
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                <title>{titleCloseCart}</title>
                <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </label>
          </div>
        </div>
        <!-- Sidebar content -->
        <CartContent isCheckout={false} />
      </ul>
    </div>
  </div>
</cart-sidebar>