---
import CartSidebar from "./CartSidebar.astro";

const titleCart = "Корзина";
const titleViewCart = "Просмотреть";
const titleCartItemsNumber = "Товаров:";
const titleCartCostSum = "На сумму:";
const titleCurrency = "руб."

const sidebarId = "cart-sidebar";
const dataCartIndicatorName = "data-cartmenu-indicator";
const dataCartCountName = "data-cartmenu-count";
const dataCartCostName = "data-cartmenu-cost";
const dataCartOldCostName = "data-cartmenu-oldcost";
---

<cart-menu 
  data-cartmenu_indicator={dataCartIndicatorName} 
  data-cartmenu_count={dataCartCountName} 
  data-cartmenu_cost={dataCartCostName} 
  data-cartmenu_oldcost={dataCartOldCostName}
>
  <CartSidebar id={sidebarId} />
  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
      <div class="indicator">
        <span data-cartmenu-indicator class="indicator-item badge badge-xs badge-info">0</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
          <title>{titleCart}</title>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /> 
        </svg>
      </div>
    </div>
    <div tabindex="0" class="card card-compact dropdown-content bg-base-300 z-1 mt-3 w-52 shadow">
      <div class="card-body p-4">
        <div class="flex flex-row gap-1">
          <span class="text-lg font-bold">{titleCartItemsNumber}</span>
          <span data-cartmenu-count class="text-lg font-bold">{0}</span>
        </div>
        <span>{titleCartCostSum}</span>
        <div class="flex flex-row gap-1">
          <span data-cartmenu-cost class="text-info font-semibold">{0}</span>
          <del data-cartmenu-oldcost class="text-info font-semibold"></del>
          <span class="text-info">{titleCurrency}</span>
        </div>
        <label for={sidebarId} class="drawer-button btn btn-primary">{titleViewCart}</label>
      </div>
    </div>
  </div>
</cart-menu>

<script>
  import { DiscountMetadata } from "../../core/models/discount";
  import { $cartCount, $cartCost, $cartWhsCost1, $cartWhsCost2 } from "../../core/stores/cart-store";
 
  class CartMenu extends HTMLElement {
    private storeCountUnsubscribe?: () => void;
    private storeCostUnsubscribe?: () => void;
    private storeWhsCost1Unsubscribe?: () => void;
    private storeWhsCost2Unsubscribe?: () => void;

    constructor() {
      super();
    }

    private syncCartCountFromStore(cartIndicatorEl: Element | null, cartCountEl: Element | null): void {
      const totalCount = $cartCount.get();
      if (cartIndicatorEl !== null) cartIndicatorEl.innerHTML = totalCount.toString();
      if (cartCountEl !== null) cartCountEl.innerHTML = totalCount.toString();
    }

    private syncCartCostFromStore(cartCostEl: Element | null, cartOldCostEl: Element | null): void {
      const sum = $cartCost.get();
      const whsSum1 = $cartWhsCost1.get();
      const whsSum2 = $cartWhsCost2.get();
      console.log("~ CartMenu ~ Sum breakdown: 1st: '%s', 2nd: '%s', 3rd: '%s'", sum, whsSum1, whsSum2);

      if (sum >= DiscountMetadata[2]?.sum) {
        console.log("~ CartMenu ~ discount 2: ", sum);
        if (cartCostEl !== null) cartCostEl.innerHTML = whsSum2.toString();  
        if (cartOldCostEl !== null) cartOldCostEl.innerHTML = sum.toString();
      } else if (sum >= DiscountMetadata[1]?.sum) {
        console.log("~ CartMenu ~ discount 1: ", sum);
        if (cartCostEl !== null) cartCostEl.innerHTML = whsSum1.toString();  
        if (cartOldCostEl !== null) cartOldCostEl.innerHTML = sum.toString();
      } else {
        console.log("~ CartMenu ~ no discounts: ", sum);
        if (cartCostEl !== null) cartCostEl.innerHTML = sum.toString();
        if (cartOldCostEl !== null) cartOldCostEl.innerHTML = "";
      }
    }

    private subscribeToCountStore(cartIndicatorEl: Element | null, cartCountEl: Element | null) {
      this.storeCountUnsubscribe = $cartCount.listen((value) => {
        console.log("~ CartMenu component ~ total count has changed:", value);
        if (cartIndicatorEl !== null) cartIndicatorEl.innerHTML = value.toString();
        if (cartCountEl !== null) cartCountEl.innerHTML = value.toString();
      });
    }

    private subscribeToCostStore(cartCostEl: Element | null, cartOldCostEl: Element | null) {
      this.storeCostUnsubscribe = $cartCost.listen((value) => {
        console.log("~ CartMenu component ~ total cost has changed:", value);
        if (cartCostEl !== null && cartOldCostEl !== null) {
          console.log("~ CartMenu ~ no discounts: ", value);
          cartCostEl.innerHTML = value.toString();
          cartOldCostEl.innerHTML = "";
        }
      });
    }

    private subscribeToWhsCost1Store(cartCostEl: Element | null, cartOldCostEl: Element | null) {
      this.storeWhsCost1Unsubscribe = $cartWhsCost1.listen((value) => {
        console.log("~ CartMenu component ~ total cost 1 has changed:", value);
        if (cartCostEl !== null && cartOldCostEl !== null && value >= DiscountMetadata[1]?.sum) {
          console.log("~ CartMenu ~ discount #1: ", value);
          cartCostEl.innerHTML = value.toString();
          cartOldCostEl.innerHTML = $cartCost.get().toString();
        }
      });
    }

    private subscribeToWhsCost2Store(cartCostEl: Element | null, cartOldCostEl: Element | null) {
      this.storeWhsCost2Unsubscribe = $cartWhsCost2.listen((value) => {
        console.log("~ CartMenu component ~ total cost 2 has changed:", value);
        if (cartCostEl !== null && cartOldCostEl !== null && value >= DiscountMetadata[2]?.sum) {
          console.log("~ CartMenu ~ discount #2: ", value);
          cartCostEl.innerHTML = value.toString();
          cartOldCostEl.innerHTML = $cartCost.get().toString();
        }
      });
    }

    connectedCallback() {
      const dataCartIndicatorName = this.dataset.cartmenu_indicator;
      const cartIndicatorEl = this.querySelector(`[${dataCartIndicatorName}]`);
      console.assert(cartIndicatorEl !== null, "Cannot find element: [%s]", dataCartIndicatorName);

      const dataCartCountName = this.dataset.cartmenu_count;
      const cartCountEl = this.querySelector(`[${dataCartCountName}]`);
      console.assert(cartCountEl !== null, "Cannot find element [%s]", dataCartCountName);

      const dataCartCostName = this.dataset.cartmenu_cost;
      const cartCostEl = this.querySelector(`[${dataCartCostName}]`);
      console.assert(cartCostEl !== null, "Cannot find element [%s]", dataCartCostName);
      
      const dataCartOldCostName = this.dataset.cartmenu_oldcost;
      const cartOldCostEl = this.querySelector(`[${dataCartOldCostName}]`);
      console.assert(cartOldCostEl !== null, "Cannot find element [%s]", dataCartOldCostName);

      this.syncCartCountFromStore(cartIndicatorEl, cartCountEl);
      this.syncCartCostFromStore(cartCostEl, cartOldCostEl);

      this.subscribeToCountStore(cartIndicatorEl, cartCountEl);
      this.subscribeToCostStore(cartCostEl, cartOldCostEl);
      this.subscribeToWhsCost1Store(cartCostEl, cartOldCostEl);
      this.subscribeToWhsCost2Store(cartCostEl, cartOldCostEl);
    }

    disconnectedCallback() {
      this.storeCountUnsubscribe && this.storeCountUnsubscribe();
      this.storeCostUnsubscribe && this.storeCostUnsubscribe();
      this.storeWhsCost1Unsubscribe && this.storeWhsCost1Unsubscribe()
      this.storeWhsCost2Unsubscribe && this.storeWhsCost2Unsubscribe()
    }
  }

  customElements.define('cart-menu', CartMenu);
</script>