---
interface Props {
  price: number,
  whsPrice1?: number,
  whsPrice2?: number,
  isDetailed?: boolean
}

const { price, whsPrice1, whsPrice2, isDetailed } = Astro.props;

const priceTitle = isDetailed ? "Розничная цена" : "Розн. цена";
const whsPriceTitle = isDetailed ? "Оптовая цена" : "Опт. цена";
const maxWidth = isDetailed ? "max-w-50" : "max-w-28";
const textSize = isDetailed ? "text-base" : "text-sm";
---

<div class="stats shadow">
  <div class=`stat place-items-center ${maxWidth}`>
    <div class="stat-title">{priceTitle}</div>
    <div class=`stat-value ${textSize}`>{price} р.</div>              
  </div>
  <div class="stat place-items-center">
    <div class="stat-title">{whsPriceTitle}</div>
    <div class=`stat-value ${textSize}`>{whsPrice1} р.</div>
  </div>
</div>
