---
export const prerender = false;

import { Image } from 'astro:assets';
import type { Product } from '../../core/models/product';
import { UnitOfMeasurementMetadata } from '../../core/models/unit-of-measurement';
import ProductColors from './ProductColors.astro';
import ProductPrice from './ProductPrice.astro';
import ProductPackInfo from './ProductPackInfo.astro';
import QuantitySelector from '../QuantitySelector.astro';

interface Props {
  item: Product,
}
const { item } = Astro.props;
console.log('🚀 ~ ProductDetails component ~ item:', item);

const noProductDescription = "Нет дополнительной информации о товаре";
const titleAddToCart = "В корзину";
const btnAddToCartName = "pd-add-to-cart";
const inputQuantityName = "pd-quantity-value"

const productsBlobStorageUrl = `${import.meta.env.PUBLIC_BLOB_STORAGE_PRODUCTS_URL}`;
const unitItem = item.unit ? UnitOfMeasurementMetadata[item.unit] : UnitOfMeasurementMetadata[0];
console.log("🚀 ~ ProductDetails component ~ blob storage url %s, unitOfMeasurement: %s", productsBlobStorageUrl, unitItem.title)
---

<product-details data-id={item.id} data-btn_add_to_card={btnAddToCartName} data-input_quatnity={inputQuantityName}>
  <div class="grid grid-cols-1 gap-2 sm:gap-6 sm:grid-cols-2 px-2 py-2">
    <div>
      {/* Product code */}
      <div class="flex flex-row justify-start">
        <span class="text-xs italic \">Артикул:</span>
        <span class="text-xs italic ml-1">{item.productCode}</span>
      </div>
      {/* Gallery */}
      <figure class="bg-base-100 aspect-square w-full object-cover lg:aspect-auto min-h-[500px]">
        <Image src=`${productsBlobStorageUrl}/${item.image}` alt=`${item.title}` width="500" height="500" class="rounded-xl"/>
      </figure>
    </div>
    <div class="px-2 py-2">
      <h1 class="font-bold text-lg mb-2">{item.title}</h1>
      {/* Descirption */}
      <div class="py-3">
        {(item.description && item.description.length > 0) 
          ? <span>{item.description}</span>
          : <span class="italic">{noProductDescription}</span>
        }
      </div>
      {/* Prices */}
      <ProductPrice price={item.price} whsPrice1={item.whsPrice1} whsPrice2={item.whsPrice2} isDetailed={true} />
      {/* Packaging info */}
      <ProductPackInfo quantityInPack={item.quantityInPack} minQuantityToBuy={item.minQuantityToBuy} unitOfMeasurementTitle={unitItem.title} />
      {/* Available colors */}
      <ProductColors productId={item.id} colors={item.colors} isDetailed={true} />  
      {/* Add to Shopping Cart */}
      <div class="flex items-center mt-5">
        <QuantitySelector inputControlName={inputQuantityName} quantity={1} />
        <button name={btnAddToCartName} class="btn btn-active btn-primary ml-4">{titleAddToCart}</button>
      </div>
    </div>
  </div>
</product-details>

<script>
  class ProductDetails extends HTMLElement {
    private productId: number | undefined;
    private addToCartHandler: any | undefined;

    private onAddToCart = (productId: number) => {
      return () => {
        const selectedColorEl =  this.querySelector('input[type=radio]:checked');
        var selectedColor = selectedColorEl ? (selectedColorEl as HTMLInputElement).value : null;
        
        const radioboxes = this.querySelectorAll('input[type=radio]')
        if (!selectedColor && radioboxes.length > 0) {
          selectedColor = (radioboxes[0] as HTMLInputElement).value;
        }

        const inputQuantityName = this.dataset.input_quatnity;
        var quanityEl = this.querySelector(`input[name='${inputQuantityName}']`);
        const quantity = quanityEl ? (quanityEl as HTMLInputElement).value : "1";

        alert(`Command to add product #${productId} with color ${selectedColor ?? "NA"} and quantity ${quantity} to shopping cart.`);
      }
    }
    
    connectedCallback() {
      const checkValue =  parseInt(this.dataset.id ?? '0', 10);
      if (isNaN(checkValue)) { 
        console.error(`~ ProductDetail ~ provided value of product ID is not a number:`, this.dataset.id);
        return;
      }
      
      this.productId = checkValue;
      this.addToCartHandler = this.onAddToCart(this.productId);

      const btnAddToCardName = this.dataset.btn_add_to_card;
      const button = this.querySelector(`button[name='${btnAddToCardName}']`);
      console.assert(button !== null, "~ ProductDetail ~ cannot find button element with name: %s", btnAddToCardName);
      button?.addEventListener('click', this.addToCartHandler);
    }

    disconnectedCallback() {
      if (this.addToCartHandler !== undefined) {
        const btnAddToCardName = this.dataset.btn_add_to_card;
        const button = this.querySelector(`button[name='${btnAddToCardName}']`);
        button?.removeEventListener('click', this.addToCartHandler);
      }
    }
  }
  customElements.define('product-details', ProductDetails);
</script>