---
export const prerender = false;

import BaseLayout from '@/web/src/layouts/BaseLayout.astro';
import { type Category } from '@/web/src/core/models/category';
import { getCategory } from '@/web/src/core/utils/live-collection-manager';
import Categories from '@/web/src/components/catalog/Categories.astro';
import Products from '@/web/src/components/catalog/Products.astro';
import CollectionFallback from '@/web/src/components/CollectionFallback.astro';
import getRouteParser from '@/web/src/core/utils/route-parser';
import { getSessionManager } from '@/web/src/core/utils/session-manager';
import { defaultSorting, type Sorting } from '@/web/src/core/models/sorting';
import { type Paging } from '@/web/src/core/models/paging';
import type { Filtering } from '@/web/src/core/models/filtering';
import CategoryDetails from '@/web/src/components/catalog/CategoryDetails.astro';

const { slug, params } = Astro.params;

const parseRouteParams = (): { sorting: Sorting | undefined, paging: Paging | undefined, filtering: Filtering[] } => {
  console.log("👉 parseRouteParams");
  const routeParser = getRouteParser(params);
  console.log("🌎 ~ Category page ~ slug %s, params: %o", slug, params);
  const sorting = routeParser.getCatalogSorting();
  console.log("🌎 ~ Categories page ~ parsed sort", sorting);
  const paging = routeParser.getCatalogPaging();
  console.log("🌎 ~ Category page ~ parse paging", paging);
  const filtering = routeParser.getCatalogFiltering();
  console.log("🌎 ~ Category page ~ parsed filters", filtering);
  return { sorting, paging, filtering };
}

let category: Category | undefined;
try {
  if (slug !== undefined) category = await getCategory(slug);
} catch(error) {
  console.error("🛑 ~ Category page ~ failed to fetch category", error);
}

const sessionManager = getSessionManager(Astro.session);
if (category === undefined)
{
  sessionManager.resetActiveCatalogItem();
  return Astro.redirect("/404");
}

sessionManager.setActiveCatalogItem({ 
  parentCategory: category?.parentSlug && category?.parentTitle ? 
    { slug: category?.parentSlug, title: category?.parentTitle } 
    : undefined, 
  category: { slug: category.slug, title: category.title }, 
  product: undefined
});

const { sorting, paging, filtering } = parseRouteParams();
const productsView = await sessionManager.getProductsView();
const newProductsView = {
    sorting: sorting !== undefined 
    ? sorting 
    : productsView?.sorting ?? defaultSorting, 
  filtering: filtering !== undefined && filtering.length > 0 
    ? filtering 
    : productsView?.filtering,
};
sessionManager.setProductsView(newProductsView);
console.log("🌎 ~ Categories page ~ set Session['productsView']", newProductsView);

const titleSubCategories = "Список подкатегорий";
const titleProducts = "Список товаров";
---

<BaseLayout title=`Каталог - ${category?.title}`>
  <CategoryDetails item={category} />
  <Categories parentSlug={category?.slug} server:defer>
		<div slot="fallback" class="mx-3.5">
			<CollectionFallback title={titleSubCategories} />
		</div>
	</Categories>
	<Products categorySlug={category?.slug} sorting={newProductsView.sorting} paging={paging} filtering={newProductsView.filtering} server:defer>
		<div slot="fallback" class="mx-3.5">
			<CollectionFallback title={titleProducts} />
		</div>
	</Products>
</BaseLayout>