---
export const prerender = false;

import BaseLayout from '@/web/src/layouts/BaseLayout.astro';
import { getCategory } from '@/web/src/core/utils/live-collection-manager';
import Categories from '@/web/src/components/catalog/Categories.astro';
import Products from '@/web/src/components/catalog/Products.astro';
import CollectionFallback from '@/web/src/components/CollectionFallback.astro';
import getRouteParser from '@/web/src/core/utils/route-parser';
import { getSessionManager } from '@/web/src/core/utils/session-manager';
import CategoryDetails from '@/web/src/components/catalog/CategoryDetails.astro';
import { getQueryManager, fetchMeasurementUnits, fetchDiscounts, fetchColors } from '@/lib/cqrs';
import type { Category, Catalog, Paging, Sorting, Filtering } from '@/lib/domain';
import { CacheKeys, EnvironmentNames, getCacheInfo, regexTrue, selectEnvironment } from '@/lib/domain';
import { defaultSorting } from "@/web/src/core/utils/sorting";

const { slug, params } = Astro.params;

const queryManager = getQueryManager();
const withTracing = regexTrue.test(
  selectEnvironment(EnvironmentNames.PUBLIC_ENABLE_TRACING),
);

const internals = {
  parseRouteParams: (): { 
    sorting: Sorting | undefined, 
    paging: Paging | undefined,
    filtering: Filtering[] | undefined
  } => {
    const routeParser = getRouteParser(params);  
    const sorting = routeParser.getCatalogSorting();
    const paging = routeParser.getCatalogPaging();
    const filtering = routeParser.getCatalogFiltering();  
    withTracing && console.log("🐾 ~ Category page ~ slug %s, params: %o", slug, params);
    withTracing && console.log("🐾 ~ Categories page ~ parsed sort", sorting);
    withTracing && console.log("🐾 ~ Category page ~ parse paging", paging);
    withTracing && console.log("🐾 ~ Category page ~ parsed filters", filtering);
    return { sorting, paging, filtering };
  },
  fetchCatalogReferences: async (): Promise<Catalog | undefined> => {
    let result: Catalog | undefined = undefined;
    try {
      result = await Promise.all([
        queryManager.fetch(
          () => fetchMeasurementUnits(),
          getCacheInfo(CacheKeys.MeasurementUnits),
        ), 
        queryManager.fetch(
          () => fetchDiscounts(), 
          getCacheInfo(CacheKeys.Discounts),
        ), 
        queryManager.fetch(
          () => fetchColors(),
          getCacheInfo(CacheKeys.Colors)
        ),
      ]).then((data) => {        
        if (data.some(x => x.error !== undefined)) {
          const errorMessage = data.reduce((acc, curr) => acc + `${curr.error !== undefined ? curr.error?.message + ", " : ""}`, "").slice(0, -2);
          console.error("🛑 ~ Category page ~", errorMessage);  
          return undefined;
        }
        return {
          measurementUnits: data[0].data ?? [],
          discounts: data[1].data ?? [],
          colors: data[2].data ?? [],
        }
      }).catch((err) => { 
        console.error("🛑 ~ Category page ~ failed to load dictionaries (measurement units, discounts, product colors))", err);
        return undefined;
      });
    }
    catch(error) {
     console.error("🛑 ~ Category page ~ failed to fetch catalog references", error);    
    }
    return result;
  }, 
  fetchCategory: async (): Promise<Category | undefined> => {
    let result: Category | undefined;
    try {
      if (slug !== undefined) result = await getCategory(slug);
    } catch(error) {
      console.error("🛑 ~ Category page ~ failed to fetch category", error);
    }
    return result;
  }
};

const sessionManager = getSessionManager(Astro.session);

const category = await internals.fetchCategory();
if (category === undefined) {
  sessionManager.resetActiveCatalogItem();
  return Astro.redirect("/500");
}

const references = await internals.fetchCatalogReferences();
if (references === undefined) {
  return Astro.redirect("/500");
}

sessionManager.setActiveCatalogItem({ 
  parentCategory: category?.parentSlug && category?.parentTitle ? 
    { slug: category?.parentSlug, title: category?.parentTitle } 
    : undefined, 
  category: { slug: category.slug, title: category.title }, 
  product: undefined
});

const { sorting, paging, filtering } = internals.parseRouteParams();
const productsView = await sessionManager.getProductsView();
const newProductsView = {
    sorting: sorting !== undefined 
    ? sorting 
    : productsView?.sorting ?? defaultSorting, 
  filtering: filtering !== undefined && filtering.length > 0 
    ? filtering 
    : productsView?.filtering,
};
sessionManager.setProductsView(newProductsView);
---

<BaseLayout title=`Каталог - ${category?.title}`>
  <CategoryDetails item={category} />
  <Categories parentSlug={category?.slug} server:defer>
		<div slot="fallback" class="mx-3.5">
			<CollectionFallback />
		</div>
	</Categories>
	<Products categorySlug={category?.slug} references={references} sorting={newProductsView.sorting} paging={paging} filtering={newProductsView.filtering} server:defer>
		<div slot="fallback" class="mx-3.5">
			<CollectionFallback />
		</div>
	</Products>
</BaseLayout>