---
import { Image } from 'astro:assets';
import { trimEnd } from '@/web/src/core/utils/text-formatter';
import type { Category } from '@/web/src/core/models/category';

interface Props {
  item: Category
}
const { item } = Astro.props;
---

<div class="card snap-start bg-base-300 shadow-sm px-2 py-2 grow-0 shrink-0 basis-3xs">
  <a class="group no-underline" href={"/catalog/categories/".concat(item.slug)}>     
    <figure class="aspect-square w-full object-cover group-hover:opacity-75 lg:aspect-auto h-[150px]">
      <Image src={item.imageUrl} alt={item.title} width="150" height="150" class="rounded-xl"/>
    </figure>
    <div class="card-body items-center text-center !px-1 !py-1 h-18">
      <span class="card-title text-sm font-bold" title={item.title}>
        <span>{trimEnd(item.title, 21)}</span>
        {item.totalProducts > 0 && <div class="badge badge-sm badge-secondary">
          {item.totalProducts}</div>
        }
      </span>
      {item.description &&
        <span class="text-sm" title={item.description}>
          {trimEnd(item.description, 60)}
        </span>
      }
    </div>
  </a>
</div>