---
export const prerender = false;

import { Image } from 'astro:assets';
import { getCategoriesList } from '../../core/utils/live-collection-manager';
import type { Category } from '../../core/models/category';
import { trimEnd } from '../../core/utils/text-formatter';

interface Props {
  parentSlug?: string;
  title: string;
}

const { parentSlug, title } = Astro.props;

let categories: Category[] | undefined;
try {
  categories = await getCategoriesList({
      skipFilters: false,
      parentSlug
    });
} catch(error) {
  console.error("ðŸ›‘ ~ Categories component ~ failed to fetch categoreis list", error);
}

const categoriesBlobStorageUrl = `${import.meta.env.PUBLIC_BLOB_STORAGE_CATEGORIES_URL}`
console.log("ðŸ› ï¸ ~ Categories component ~ blob storage url: %s", categoriesBlobStorageUrl)
---

{(categories && categories.length > 0) &&
  <div class="mx-4 mb-2 bg-base-100">
    <h3 class="text-lg font-bold text-center sm:text-left py-2">{title}</h3>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-5">
      {categories.map(item => {
        return (
          <div class="card bg-base-300 hadow-sm px-2 py-2">
            <a class="group no-underline" href={"/catalog/categories/".concat(item.slug)}>     
              <figure class="aspect-square w-full object-cover group-hover:opacity-75 lg:aspect-auto h-[150px]">
                <Image src={categoriesBlobStorageUrl.concat("/", item.image)} alt={item.title} width="150" height="150" class="rounded-xl"/>
              </figure>
              <div class="card-body items-center text-center !px-1 !py-1">
                <span class="card-title text-sm font-bold" title={item.title}>
                  {trimEnd(item.title, 21)}
                </span>
                {item.description &&
                  <span class="text-sm" title={item.description}>
                    {trimEnd(item.description, 100)}
                  </span>
                }
              </div>
            </a>
          </div>);
        })
      }
    </div>
  </div>
}