---
export const prerender = false;

import { Image } from 'astro:assets';
import { getCategoriesList } from '../../core/utils/live-collection-manager';
import type { Category } from '../../core/models/category';
import { trimEnd } from '../../core/utils/text-formatter';
import { defaultPaging } from '../../core/models/paging';

interface Props {
  parentSlug?: string;
  title: string;
}

const { parentSlug, title } = Astro.props;

let hasDataLoadError = false;
let categories: Category[] | undefined = [];
try {
  categories = await getCategoriesList({
      skipParentMatch: false,
      parentSlug,
      page: defaultPaging.page,
      pageSize: defaultPaging.pageSize
    });
} catch(error) {
  hasDataLoadError = true;
  console.error("🛑 ~ Categories component ~ failed to fetch categoreis list", error);
}

const titleErrorMessage = "Не удалось загрузить список категорий, попробуйте снова позднее.";
---

{hasDataLoadError && <div role="alert" class="alert mt-1 items-center">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-error h-10 w-10 shrink-0">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
  </svg>
  <p>
    <span class="text-error">{titleErrorMessage}</span>       
  </p>
</div>}
{(categories && categories.length > 0) &&
  <div class="mx-4 mb-2 bg-base-100">
    <h3 class="text-lg font-bold text-center sm:text-left py-2">{title}</h3>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-5">
      {categories && categories.map(item => {
        return (
          <div class="card bg-base-300 shadow-sm px-2 py-2">
            <a class="group no-underline" href={"/catalog/categories/".concat(item.slug)}>     
              <figure class="aspect-square w-full object-cover group-hover:opacity-75 lg:aspect-auto h-[150px]">
                <Image src={item.imageUrl} alt={item.title} width="150" height="150" class="rounded-xl"/>
              </figure>
              <div class="card-body items-center text-center !px-1 !py-1 h-18">
                <span class="card-title text-sm font-bold" title={item.title}>
                  <span>{trimEnd(item.title, 21)}</span>
                  {item.totalProducts > 0 && <div class="badge badge-sm badge-accent">
                    {item.totalProducts}</div>
                  }
                </span>
                {item.description &&
                  <span class="text-sm" title={item.description}>
                    {trimEnd(item.description, 75)}
                  </span>
                }
              </div>
            </a>
          </div>);
        })
      }
    </div>
  </div>
}