---
export const prerender = false;

import type { Category } from '@/web/src/core/models/category';
import { defaultPaging, type PageResult, type Paging } from '@/web/src/core/models/paging';
import CategoryCard from './CategoryCard.astro';
import { CategoriesViewMode } from '@/web/src/core/const';
import { defaultSorting, type Sorting } from '@/web/src/core/models/sorting';
import { loadCategories } from '@/web/src/core/content-loaders/categories-loader';

// Categories horizontal scrolling is based on
// https://ryanmulligan.dev/blog/project-keyboard-navigation/
// https://design2seo.com/blog/web-development/js/horizontal-scroll-slider/
// https://www.creative-tim.com/twcomponents/component/horizontal-scroll-card-components

interface Props {
  parentSlug?: string;
  sorting?: Sorting | undefined;
  paging?: Paging | undefined;
}
const { parentSlug, sorting = defaultSorting, paging = defaultPaging } = Astro.props;

let hasDataLoadError = false;
let categories: PageResult<Category> | undefined = undefined;
try {
  // categories = await getCategoriesList({
  //     skipParentMatch: false,
  //     parentSlug,
  //     sorting: sorting,
  //     paging: paging,
  //   });
  categories = await loadCategories(import.meta.env.PUBLIC_API_BASE_URL, {
    skipParentMatch: false,
    parentSlug,
    sorting: sorting,
    paging: paging,
  });
} catch(error) {
  hasDataLoadError = true;
  console.error("🛑 ~ Categories component ~ failed to fetch categoreis list", error);
}

const nameSelectCategoriesView = "categories-view-select";
const nameCategoriesScrollPrev = "categories-scroll-prev";
const nameCategoriesScrollNext = "categories-scroll-next";

const titleCategories = "Список категорий";
const titleSubCategories = "Список подкатегорий";
const titleViewMode = "Отображение";
const titleCompactView = "Компактный";
const titleFullView = "Подробный";
const titleScrollToPrevious = "Показать предыдущую категорию";
const titleScrollToNext = "Показать следующую категорию";
const titleErrorMessage = "Не удалось загрузить список категорий, попробуйте снова позднее.";
---

{hasDataLoadError && <div role="alert" class="alert mt-1 items-center">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-error h-10 w-10 shrink-0">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
  </svg>
  <p>
    <span class="text-error">{titleErrorMessage}</span>       
  </p>
</div>}
{categories && categories.items.length > 0 &&
  <div data-categories-root class="mx-4 mb-2 bg-base-100">
    <div class="grid grid-cols-1 sm:grid-cols-2 my-2">
      <h3 class="text-lg font-bold text-center sm:text-left">
        {!parentSlug ? titleCategories : titleSubCategories}
      </h3>
      <div class="justify-self-center sm:justify-self-end flex flex-row flex-nowrap">
        <span class="content-center text-nowrap mr-1">{titleViewMode}:</span>
        <select name={nameSelectCategoriesView} class="select w-32">
          <option value={CategoriesViewMode.Compact} selected>{titleCompactView}</option>
          <option value={CategoriesViewMode.Full}>{titleFullView}</option>
        </select>
        <div class="join grid grid-cols-2 content-center">
          <button name={nameCategoriesScrollPrev} class="join-item btn btn-xs btn-ghost" title={titleScrollToPrevious}>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          </button>
          <button name={nameCategoriesScrollNext} class="join-item btn btn-xs btn-ghost" title={titleScrollToNext}>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div data-categories-container class="slider-container">
      <div data-categories-slider class="slider hide-scroll-bar">
        {categories && categories.items.map(item => <CategoryCard item={item} />)}
      </div>
    </div>
  </div>
}

<script>
  import { getCategoriesViewManager, type CategoriesViewManager } from "@/web/src/core/utils/categories-view-manager";  

  const VIEW_MODE_INIT_DELAY_MS = 300;

  let timeoutId: NodeJS.Timeout | undefined;
  let controller: AbortController | undefined;
  let viewManager: CategoriesViewManager | undefined;

  const applyViewManager = () => {
    console.log("🌎 ~ Categories component ~ apply view manager");
    controller && controller.abort();

    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      const categoriesRootEl = document.querySelector('[data-categories-root]');
      if (categoriesRootEl === null) return;
      
      viewManager = getCategoriesViewManager({
        selectModeEl: document.querySelector('select[name="categories-view-select"]'),
        containerEl: document.querySelector('[data-categories-container]'),
        sliderEl: document.querySelector('[data-categories-slider]'),
        slidePrevEl: document.querySelector('button[name="categories-scroll-prev"]'),
        slideNextEl: document.querySelector('button[name="categories-scroll-next"]')
      });
      
      controller = new AbortController();
      viewManager.apply(controller.signal);
    }, VIEW_MODE_INIT_DELAY_MS)
  }

  // Need to call ViewManger to assing event handlers on initial page load
  applyViewManager();

  document.addEventListener("astro:page-load", () => {    
    // Need to re-apply view manager on Astro page transition as well
    applyViewManager();
  });

  window.addEventListener('pagehide', () => {
    // This instantly removes all listeners using 'signal' from themeToggleManager
    controller && controller.abort(); 
  });
</script>