---
export const prerender = false;

import { getCategoriesList } from '@/web/src/core/utils/live-collection-manager';
import type { Category } from '@/web/src/core/models/category';
import { defaultPaging } from '@/web/src/core/models/paging';
import CategoryCard from './CategoryCard.astro';
import { CategoriesViewMode } from '@/web/src/core/const';

interface Props {
  parentSlug?: string;
  title: string;
}

const { parentSlug, title } = Astro.props;

let hasDataLoadError = false;
let categories: Category[] | undefined = [];
try {
  categories = await getCategoriesList({
      skipParentMatch: false,
      parentSlug,
      page: defaultPaging.page,
      pageSize: defaultPaging.pageSize
    });
} catch(error) {
  hasDataLoadError = true;
  console.error("🛑 ~ Categories component ~ failed to fetch categoreis list", error);
}

const titleViewMode = "Отображение";
const titleCompactView = "Компактный";
const titleFullView = "Подробный";
const titleScrollToPrevious = "Показать предыдущую категорию";
const titleScrollToNext = "Показать следующую категорию";
const titleErrorMessage = "Не удалось загрузить список категорий, попробуйте снова позднее.";
---

<style>
  /* Main container */
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.non-slider-container {
  width: 100%;
}

/* Horizontal scroll */
.slider {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 20px;
  width: 100%;
}
.non-slider {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: calc(var(--spacing) * 4) /* 1rem = 16px */;
  @media (width >= 40rem /* 640px */) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (width >= 48rem /* 768px */) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
   @media (width >= 64rem /* 1024px */) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media (width >= 64rem /* 1024px */) {
    gap: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
  }
}
</style>

<script>
  //import { getThemeToggleManager, type ThemeToggleManager } from "../core/utils/theme-toggle";

  let controller: AbortController | undefined;
  //let themeToggleManager: ThemeToggleManager | undefined;

  document.addEventListener("astro:page-load", () => {
    controller && controller.abort();
    
    const categoriesContainer = document.querySelector('[data-categories-container]');
    const categoriesViewModeEl = document.querySelector('[data-categories-view-mode]');
    const categoriesScrollPrevEl = document.querySelector('[data-categories-scroll-prev]');
    const categoriesScrollNextEl = document.querySelector('[data-categories-scroll-next]');

    // themeToggleManager = getThemeToggleManager({
    //   coreEl: document.querySelector('[data-theme-toggle]'),
    //   darkThemeEl: document.querySelector('[data-theme-toggle-dark]'),
    //   lightThemeEl: document.querySelector('[data-theme-toggle-light]')});
        
    controller = new AbortController();
    //themeToggleManager.apply(controller.signal);
  });

  window.addEventListener('pagehide', () => {
    // This instantly removes all listeners using 'signal' from themeToggleManager
    //controller && controller.abort(); 
  });
</script>

{hasDataLoadError && <div role="alert" class="alert mt-1 items-center">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-error h-10 w-10 shrink-0">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
  </svg>
  <p>
    <span class="text-error">{titleErrorMessage}</span>       
  </p>
</div>}
{categories && categories.length > 0 &&
  <div class="mx-4 mb-2 bg-base-100">
    <div class="grid grid-cols-1 sm:grid-cols-2 mb-2">
      <h3 class="text-lg font-bold text-center sm:text-left py-2">
        {title}
      </h3>
      <div class="justify-self-center sm:justify-self-end flex flex-row">
        <span class="content-center text-nowrap mr-1">{titleViewMode}:</span>
        <select data-categories-view-mode name="select-categories-view" class="select w-32 mr-2">
          <option value={CategoriesViewMode.Compact} selected>{titleCompactView}</option>
          <option value={CategoriesViewMode.Full}>{titleFullView}</option>
        </select>
        <div class="join grid grid-cols-2 content-center">
          <button data-categories-scroll-prev class="join-item btn btn-xs btn-ghost" title={titleScrollToPrevious}>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          </button>
          <button data-categories-scroll-next class="join-item btn btn-xs btn-ghost" title={titleScrollToNext}>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="non-slider-container">
      <div data-categories-container class="non-slider">
        {categories && categories.map(item => <CategoryCard item={item} />)}
      </div>
    </div>
  </div>
}

<!-- Scroll View example -->
<!-- <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
  <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10">
    <div class="inline-block px-3">
      <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"></div>
    </div>
    <div class="inline-block px-3">
      <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"></div>
    </div>
    <div class="inline-block px-3">
      <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"></div>
    </div>
    <div class="inline-block px-3">
      <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"></div>
    </div>
    <div class="inline-block px-3">
      <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"></div>
    </div>
    <div class="inline-block px-3">
      <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"></div>
    </div>
    <div class="inline-block px-3">
      <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"></div>
    </div>
    <div class="inline-block px-3">
      <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"></div>
    </div>
  </div>
</div> -->