---
export const prerender = false;

import { getProductsList } from '../../core/utils/live-collection-manager';
import type { Product } from '../../core/models/product';
import ProductCard from './ProductCard.astro';
import { defaultSorting, type Sorting } from '@/web/src/core/models/sorting';
import type { Paging } from '@/web/src/core/models/paging';
import type { Filtering } from '@/web/src/core/models/filtering';
import { defaultPaging } from '@/web/src/core/models/paging';
import type { ProductCollectionFilter } from '../../core/content-loaders/products-loader';
import { ProductsSortFileds } from '../../core/const';

interface Props {
  categorySlug: string;
  sorting: Sorting | undefined;
  paging: Paging | undefined;
  filtering: Filtering[];
}
const { categorySlug, sorting = defaultSorting, paging = defaultPaging, filtering = [] } = Astro.props;
const allRecords = 1000;

let hasDataLoadError = false;
let products: Product[] | undefined;
try {
  products = await getProductsList({
    categorySlug,
    sorting,
    paging,
    filtering
  } as ProductCollectionFilter)
} catch(error) {
  hasDataLoadError = true;
  console.error("🛑 ~ Products component ~ failed to fetch products list", error);
} 

const titleSortBy = "Сортировка";
const titlSortByTitle = "Наименование";
const titleSortByPrice = "Цена";
const titleAscending = "По возрастанию";
const titleDescending = "По убыванию";
const titlePagingInfo = "Показано позиций";
const titlePagingNofM = "из";
const titleProductsList = "Список товаров";
const titleNoProductsForCategory = "Товары не представлены в данной категории";
const titleErrorMessage = "Не удалось загрузить список товаров, попробуйте снова позднее.";
---

{hasDataLoadError && <div role="alert" class="alert mt-1 items-center">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-error h-10 w-10 shrink-0">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
  </svg>
  <p>
    <span class="text-error">{titleErrorMessage}</span>       
  </p>
</div>}
{(products && products.length > 0) &&
  <div class="mx-4 mb-2 bg-base-100">
    <div class="grid grid-cols-1 sm:grid-cols-2 mb-2">
      <h3 class="text-lg font-bold text-center sm:text-left py-2">
        {titleProductsList}
      </h3>      
      <div class="justify-self-center sm:justify-self-end">
        <span class="content-center text-nowrap mr-1">{titleSortBy}:</span>
        <select name="category-view-select" class="select w-38 mr-2">
          <option value={ProductsSortFileds.Title}>{titlSortByTitle}</option>
          <option value={ProductsSortFileds.Price}>{titleSortByPrice}</option>
        </select>
        <label class="toggle toggle-xl" title={titleAscending}>
          <input type="checkbox" checked="checked" />
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
          </svg>
        </label>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-5 mb-4">
      {products && products.map(x => <ProductCard item={x} />)}      
    </div>
    {products && products.length > 0 && 
      <div class="flex flex-col sm:flex-row items-center justify-center">
        <span class="content-center text-nowrap mr-2">{titlePagingInfo}:</span>
        <div class="join">
          <button class="join-item btn" title="Prev.">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          </button>          
          <button class="join-item btn">{`${Number(paging.page) + 1}-${Number(paging.page + paging.pageSize) + 1} ${titlePagingNofM} ${allRecords}`}</button>
          <button class="join-item btn" title="Next">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
        </div>
      </div>
    }
    {(!products || products.length == 0) && <span>{titleNoProductsForCategory}</span>}
  </div>
}