---
export const prerender = false;

import type { Product } from '@/web/src/core/models/product';
import ProductCard from './ProductCard.astro';
import { defaultSorting, type Sorting } from '@/web/src/core/models/sorting';
import { defaultPaging, type PageResult, type Paging } from '@/web/src/core/models/paging';
import type { Filtering } from '@/web/src/core/models/filtering';
import { loadProducts, type ProductCollectionFilter } from '@/web/src/core/content-loaders/products-loader';
import { DialogActionButtons, DialogSize, ProductsSortFileds, SortOrder } from '@/web/src/core/const';
import { getSessionManager } from '@/web/src/core/utils/session-manager';
import ModalDialog from '../ModalDialog.astro';
import type { CatalogReferences } from '@/web/src/core/models/catalog';
import { reference } from 'astro:content';

interface Props {
  categorySlug: string;
  references: CatalogReferences;
  sorting?: Sorting | undefined;
  paging?: Paging | undefined;
  filtering?: Filtering[];
}
const { categorySlug, references, sorting = defaultSorting, paging = defaultPaging, filtering = [] } = Astro.props;

const sessionManager = getSessionManager(Astro.session);
const productsView = await sessionManager.getProductsView();

let hasDataLoadError = false;
let products: PageResult<Product> | undefined = undefined;
try {
  products = await loadProducts(import.meta.env.PUBLIC_API_BASE_URL, {
    categorySlug,
    sorting,
    paging,
    filtering
  } as ProductCollectionFilter)
} catch(error) {
  hasDataLoadError = true;
  console.error("🛑 ~ Products component ~ failed to fetch products list", error);
} 

let rowStart = 0, rowEnd = 0, totalRows = 0;
if (products !== undefined) {
  totalRows = products.pageInfo.total;
  rowStart = products.pageInfo.page * paging.pageSize + 1;
  rowEnd = (products.pageInfo.page + 1) * paging.pageSize;
  if (rowEnd > totalRows)
    rowEnd = totalRows;
}

const nameSortDialog = "sort-dialog";
const nameSortFieldSelect = "sort-field-select";
const nameSortOrder = "sort-order";
const namePageActionPrevious = "page-action-previous";
const namePageActionNext = "page-action-next";

const titleSortBy = "Сортировка";
const titlSortByTitle = "Наименование";
const titleSortByPrice = "Цена";
const titlePagingNext = "След.";
const titlePagingPrev = "Пред.";
const titleSortAscending = "По возрастанию";
const titleSortDescending = "По убыванию";
const titlePagingInfo = "Показано позиций";
const titlePagingNumberOf = "из";
const titleProductsList = "Список товаров";
const titleNoProductsForCategory = "Товары не представлены в данной категории";
const titleErrorMessage = "Не удалось загрузить список товаров, попробуйте снова позднее.";
const titleDefaultSortDirection = "Определение порядка сортировки";
const titleApplyDefatulSorting = "Для сортировки по возрастанию или в алфавитном порядке нажмите кнопку \"Да\", для сортировки по убыванию или в обратном алфавитном порядке нажмите кнопку \"Нет\".";
---

{hasDataLoadError && <div role="alert" class="alert mt-1 items-center">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-error h-10 w-10 shrink-0">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
  </svg>
  <p>
    <span class="text-error">{titleErrorMessage}</span>       
  </p>
</div>}
{(products && products.items.length > 0) &&
  <div data-products-root data-page_prev={rowStart > 0 ? products.pageInfo.page - 1 : -1} data-page_next={rowEnd < totalRows ? products.pageInfo.page + 1 : -1} data-page_size={paging.pageSize} class="mx-4 mb-2 bg-base-100">
    {/* Header */}
    <div class="grid grid-cols-1 sm:grid-cols-2 mb-2 items-center">
      <h3 class="text-lg font-bold text-center sm:text-left py-2">
        {titleProductsList}
      </h3>
      {/* Sort settings */}
      <div class="items-center justify-self-center sm:justify-self-end flex flex-row flex-nowrap">
        <span class="content-center text-nowrap mr-1">{titleSortBy}:</span>
        <select name={nameSortFieldSelect} class="select w-38 mr-2">
          <option value={ProductsSortFileds.Title} selected={productsView?.sorting?.field === ProductsSortFileds.Title}>{titlSortByTitle}</option>
          <option value={ProductsSortFileds.Price} selected={productsView?.sorting?.field === ProductsSortFileds.Price}>{titleSortByPrice}</option>
        </select>
        <label class="toggle toggle-xl" title={productsView?.sorting?.order === SortOrder.Ascending ? titleSortAscending : titleSortDescending}>
          <input name={nameSortOrder} type="checkbox" checked={productsView?.sorting?.order === SortOrder.Ascending} />
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
          </svg>
        </label>
      </div>
    </div>
    {/* Content */}
    <div class="grid grid-cols-1 gap-4 mb-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-5">
      {products && products.items.map(x => <ProductCard item={x} references={references} />)}      
    </div>
    {/* Paging */}
    {products && products.items.length > 0 && 
      <div class="flex flex-col sm:flex-row items-center justify-center">
        <span class="content-center text-nowrap mr-2">{titlePagingInfo}:</span>
        <div class="join">
          <button name={namePageActionPrevious} class="join-item btn btn-ghost" class:list={[{'btn-disabled': rowStart === 1}]} title={titlePagingPrev}>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          </button>          
          <button class="join-item btn btn-disabled btn-ghost">{`${rowStart}-${rowEnd} ${titlePagingNumberOf} ${totalRows}`}</button>
          <button name={namePageActionNext} class="join-item btn btn-ghost" class:list={[{'btn-disabled': rowEnd === totalRows}]} title={titlePagingNext}>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
        </div>
      </div>
    }
    {(!products || products.items.length == 0) && <span>{titleNoProductsForCategory}</span>}
  </div>
}
<ModalDialog id={nameSortDialog} title={titleDefaultSortDirection} size={DialogSize.Small} actionButtons={DialogActionButtons.YesNo}>
  <span class="text-lg">{titleApplyDefatulSorting}</span>
</ModalDialog>

<script>
  import { getProductsViewManager, type ProductsViewManager } from "@/web/src/core/utils/products-view-manager";  
  
  const VIEW_MODE_INIT_DELAY_MS = 300;

  let timeoutId: NodeJS.Timeout | undefined;
  let controller: AbortController | undefined;
  let viewManager: ProductsViewManager | undefined;

  const applyViewManager = ()=> {
    //console.log("🌎 ~ Products component ~ apply view manager");
    controller && controller.abort();

    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      const productsRootEl = document.querySelector('[data-products-root]') as HTMLElement;
      if (productsRootEl === null) return;

      const pagePrev = productsRootEl.dataset.page_prev ? Number.parseInt(productsRootEl.dataset.page_prev, 10) : -1;
      const pageNext = productsRootEl.dataset.page_next ? Number.parseInt(productsRootEl.dataset.page_next, 10) : -1;
      const pageSize = productsRootEl.dataset.page_size ? Number.parseInt(productsRootEl.dataset.page_size, 10) : 0;

      viewManager = getProductsViewManager({
        selectSortEl: document.querySelector('select[name="sort-field-select"]'),
        sortOrderEl: document.querySelector('input[name="sort-order"]'),
        sortDialogEl: document.querySelector('dialog[id="sort-dialog"]'),
        pageActionPrevEl: document.querySelector('button[name="page-action-previous"]'),
        pageActionNextEl: document.querySelector('button[name="page-action-next"]'),
      }, pagePrev, pageNext, pageSize);
      
      controller = new AbortController();
      viewManager.apply(controller.signal);
    }, VIEW_MODE_INIT_DELAY_MS)
  } 

  // Need to call ViewManger to assing event handlers on initial page load
  applyViewManager();

  document.addEventListener("astro:page-load", () => {
    // Need to re-apply view manager on Astro page transition as well
    applyViewManager();
  });

  window.addEventListener('pagehide', () => {
    // This instantly removes all listeners using 'signal' from themeToggleManager
    controller?.abort(); 
  });
</script>