---
import { type ProductColor } from '@/web/src/core/models/product-color';

interface Props {
  productId: number,
  colors?: number[],
  colorsReference: ProductColor[]
  isDetailed?: boolean
}
const { productId, colors = [], colorsReference, isDetailed = false } = Astro.props;

const spanSelectedColorName = "data-selected-color";

const titleColorOptions = "Цвет:";
const titleNoProductColors = "Нет информации о цвете";
---

<product-colors data-selected_color={spanSelectedColorName}> 
  <div class:list={['flex', 'my-2', 'justify-center', {'justify-start' : isDetailed}]}>
    <span>{titleColorOptions}</span>
    <span data-selected-color class="pl-1"></span>
  </div>
  {colors && colors.length > 0 && 
    <div class:list={['flex', 'items-center', 'gap-3', 'my-1', 'justify-center', {'justify-start': isDetailed}]}>
      {colors.sort().map((key, index) => {
        const metadata = colorsReference.find(x => x.id === key);
        return metadata && <input type="radio" name={"radio-color".concat(productId.toString())}
          checked={index == 0 ? "checked" : undefined} title={metadata.title} value={key}
          class="cursor-pointer appearance-none rounded-full border-1 checked:outline-2 checked:outline-offset-2 checked:outline-gray-400 focus-visible:outline-4 focus-visible:outline-offset-4"
          class:list={[
            metadata.fillColor, 
            metadata.borderColor, 
            {'size-7': isDetailed}, 
            {'size-5' : !isDetailed}, 
          ]}
        />;
      })}
    </div>
  }
  {(!colors || colors?.length === 0) && 
    <div class:list={['flex', 'items-center', 'my-1', { 'justify-start': isDetailed }, {'justify-center': !isDetailed }]}>
      <span class="italic text-sm">{titleNoProductColors}</span>
    </div>
  }
</product-colors>

<script>
  import { getElementByDataAttribute } from "@/web/src/core/utils/dom-utils";

  class ProductColors extends HTMLElement {
    selectedColorTitleEl: Element | null = null;
    colorHandlers: {
      [key: number]: (e: Event) => any;
    } = {};

    onColorSelect = (el: Element | null, title: string): any => {
      return (event: Event): void => {
        if (el !== null) el.innerHTML = title;
      };
    }

    connectedCallback() {
      this.selectedColorTitleEl = getElementByDataAttribute(this, this.dataset.selected_color);

      const radioboxes = this.querySelectorAll('input[type=radio]');
      if (radioboxes.length > 0 && this.selectedColorTitleEl !== null) {
        this.selectedColorTitleEl.innerHTML = radioboxes[0].getAttribute("title") ?? "";
      }
      
      radioboxes.forEach((x: Element, index: number) => {
        this.colorHandlers[index] = this.onColorSelect(this.selectedColorTitleEl, x.getAttribute('title') ?? "");
        x.addEventListener('click', this.colorHandlers[index]);
      });
    }

    disconnectedCallback() {
      const radioboxes = this.querySelectorAll('input[type=radio]');
      radioboxes.forEach((x: Element, index: number) => {
        this.colorHandlers[index] && x.removeEventListener('click', this.colorHandlers[index]);
      });
    }
  }

  customElements.define('product-colors', ProductColors);
</script>