---
import { Image } from 'astro:assets';
import  { type Product, type Catalog, NO_VALUE_ASSIGNED } from "@/lib/domain";
import ProductColors from './ProductColors.astro';
import ProductPrice from './ProductPrice.astro';
import ProductPackInfo from './ProductPackInfo.astro';
import QuantitySelector from '../QuantitySelector.astro';
import { trimEnd } from '@/web/src/core/utils/text-formatter';
import ProductMake from './ProductMake.astro';
import ProductDimensions from './ProductDimensions.astro';

interface Props {
  item: Product;
  references: Catalog;
  isPreview?: boolean;
}
const { item, references, isPreview = false } = Astro.props;

const unitItem = references.measurementUnits.find(x => x.id === item.unitId);
if (unitItem === undefined) {
  console.warn("~ ProductDetails ~ unable to obtain reference of measurement unit with Id", item.unitId);
}

const btnAddToCartName = "pd-add-to-cart";
const inputQuantityName = "pd-quantity-value"

const titleNoProductDescription = "Нет дополнительной информации о товаре";
const titleAddToCart = "В корзину";
const titleProductCode = "Артикул";
---

<product-details 
  data-btn_add_to_cart={btnAddToCartName} data-input_quatnity={inputQuantityName}
  data-id={item.id} data-product_uid={item.uid} data-code={item.code} data-title={item.title} data-colors={JSON.stringify(item.colors)} 
  data-price={item.price} data-whs_price1={item.whsPrice1} data-whs_price2={item.whsPrice2} 
  data-category_id={item.categoryId} data-category_slug={item.categorySlug}
  data-image_url={item.imageUrl} data-thumbnail_image_url={item.thumbnailImageUrl} data-slug={item.slug} data-is_preview={isPreview}
>
  <div class="grid grid-cols-1 gap-2 sm:gap-6 sm:grid-cols-3 px-2 py-2">
    <div class="flex flex-col gap-4 px-2 py-2">
      {/* Product code */}
      <div class="flex flex-row justify-center lg:justify-start pb-2">
        <span class="text-xs italic \">{titleProductCode}:</span>
        <span class="text-xs italic ml-1">{item.code}</span>
      </div>
      {/* Gallery */}
      <figure class="self-center bg-base-100 aspect-square bject-cover lg:aspect-auto h-42 md:h-92">
        <Image src=`${item.imageUrl}` alt=`${item.title}` width="350" height="350" class="rounded-xl object-contain" />
      </figure>
    </div>
    <div class="flex flex-col gap-2 col-span-2">
      <div>
        {isPreview && 
          <a href=`/catalog/products/${item.slug}`>
            <div class="flex flex-row items-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 pt-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
              </svg>
              <h1 class="card-title text-lg font-bold pl-1 text-left" title={item.title}>
                {trimEnd(item.title, 100)} 
              </h1>
            </div>
          </a>
        }
        {isPreview === false &&
          <h1 class="card-title text-lg font-bold text-left" title={item.title}>
            {trimEnd(item.title, 100)} 
          </h1>
        }
      </div>
      {/* Descirption */}
      <div class="py-2 text-left">
        {(item.description && item.description.length > 0) 
          ? <span>{item.description}</span>
          : <span class="italic text-sm">{titleNoProductDescription}</span>
        }
      </div>
      <ProductPrice price={item.price} whsPrice1={item.whsPrice1} whsPrice2={item.whsPrice2} discounts={references.discounts} isDetailed={true} />
      <ProductPackInfo quantityInPack={item.quantityInPack} minQuantityToBuy={item.minQuantityToBuy} unitOfMeasurement={unitItem?.title ?? NO_VALUE_ASSIGNED} />
      <ProductMake maker={item.maker} makeCountry={item.makeCountry} />
      <ProductDimensions length={item.dimensionLengthMm} width={item.dimensionWidthMm} height={item.dimensionHeightMm} diameter={item.dimensionDiameterMm} />
      <ProductColors productId={item.id} colors={item.colors} colorsReference={references.colors} isDetailed={true} />  
      {/* Add to Shopping Cart */}
      <div class="flex items-center justify-start my-4">
        <QuantitySelector inputControlName={inputQuantityName} quantity={1} />
        <button name={btnAddToCartName} class="btn btn-active btn-primary ml-4">{titleAddToCart}</button>
      </div>
    </div>
  </div>
</product-details>

<script>
  import { parseProduct } from "@/web/src/core/utils/data-attributes-parser";
  import { addAlert } from "@/web/src/core/stores/alert-store";
  import { AlertKind } from "@/web/src/core/const";
  import { addToCart } from "@/web/src/core/stores/cart-store";
  import { CartMessages } from "@/web/src/core/const/messages";
  import { getButtonElementByName, getInputElementByName } from "@/web/src/core/utils/dom-utils";
  import { clientDb } from '@/web/src/core/db/indexed-db';
  import type { CartItem, Product, Color } from "@/lib/domain";
  import { NO_VALUE_ASSIGNED, regexTrue } from "@/lib/domain";

  class ProductDetails extends HTMLElement {
    private addToCartEl: Element | null = null;
    private value: Product | undefined;
    private controller: AbortController | undefined;
    private colors: Array<Color> = [];
    private isPreview: boolean = false;

    private onAddToCart = (): void => {
      if (!this.value) {
        console.warn("~ ProductDetails ~ cannot add product to the cart as it values was not parsed properly.")
        return;
      }

      const selectedColorEl =  this.querySelector('input[type=radio]:checked');
      var selectedColor = selectedColorEl ? (selectedColorEl as HTMLInputElement).value : null;
      
      if (selectedColor === null) {
        const radioboxes = this.querySelectorAll('input[type=radio]')
        selectedColor = radioboxes.length > 0 ? (radioboxes[0] as HTMLInputElement).value : null;
      }
      
      const quanityEl = getInputElementByName(this, this.dataset.input_quatnity);
      
      const color = selectedColor !== null ? parseInt(selectedColor) : undefined;
      const colorItem = this.colors.find(x => x.id === color);
      const quantity = quanityEl ? parseInt((quanityEl as HTMLInputElement).value) : 1;

      addToCart({
        productId: this.value.id,
        code: this.value.code,
        productUid: this.value.uid,
        title: this.value.title,
        availableColors: this.value.colors,
        price: this.value.price,
        whsPrice1: this.value.whsPrice1,
        whsPrice2: this.value.whsPrice2,
        thumbnailImageUrl: this.value.thumbnailImageUrl,
        slug: this.value.slug,
        colorId: color,
        colorUid: colorItem?.uid,
        colorTitle: colorItem?.title ?? NO_VALUE_ASSIGNED,
        quantity
      } as CartItem);

      addAlert({ 
        kind: AlertKind.Info, 
        message: CartMessages.AddedToTheCart,
        isDialog: this.isPreview  
      });
    }

    private loadColorsFromIndexedDB(): void {
      if (this.colors.length > 0) return;

      clientDb.colors.toArray((data) => { 
        if (data.length === 0) {
          console.warn("⚠️ ~ ProductDetails ~ Product Colors data are not available.");
          return;
        }
        this.colors = data;
      });
    }

    connectedCallback() {
      this.controller = new AbortController();
      this.loadColorsFromIndexedDB();

      this.value = parseProduct(this.dataset);
      if (!this.value) {
        console.warn(`⚠️ ~ ProductDetails ~ provided values of product via data attributes are not valid or complete.`);
        return;
      }
      
      this.addToCartEl = getButtonElementByName(this, this.dataset.btn_add_to_cart);
      this.addToCartEl?.addEventListener('click', this.onAddToCart, { signal: this.controller.signal });
      this.isPreview = regexTrue.test(this.dataset.is_preview ?? "false");
    }

    disconnectedCallback() {
      this.controller && this.controller.abort();
    }
  }

  if (!customElements.get('product-details')) {
    customElements.define('product-details', ProductDetails);
  }
</script>