---
import { Image } from 'astro:assets';
import type { Product } from '@/web/src/core/models/product';
import { UnitOfMeasurementDictionary } from '@/web/src/core/models/unit-of-measurement';
import ProductColors from './ProductColors.astro';
import ProductPrice from './ProductPrice.astro';
import ProductPackInfo from './ProductPackInfo.astro';
import QuantitySelector from '../QuantitySelector.astro';
import { trimEnd } from '@/web/src/core/utils/text-formatter';
import ProductMake from './ProductMake.astro';
import ProductDimensions from './ProductDimensions.astro';

interface Props {
  item: Product,
  isPreview?: boolean,
}
const { item, isPreview } = Astro.props;

const btnAddToCartName = "pd-add-to-cart";
const inputQuantityName = "pd-quantity-value"
const unitItem = item.unitId ? UnitOfMeasurementDictionary[item.unitId] : UnitOfMeasurementDictionary[0];

const titleNoProductDescription = "Нет дополнительной информации о товаре";
const titleAddToCart = "В корзину";
const titleProductCode = "Артикул";
---

<product-details 
  data-btn_add_to_cart={btnAddToCartName} data-input_quatnity={inputQuantityName}
  data-id={item.id} data-product_code={item.productCode} data-title={item.title} data-colors={JSON.stringify(item.colors)} 
  data-price={item.price} data-whs_price1={item.whsPrice1} data-whs_price2={item.whsPrice2} 
  data-category_id={item.categoryId} data-category_slug={item.categorySlug}
  data-image={item.imageUrl} data-thumbnail-image={item.thumbnailImageUrl} data-slug={item.slug}
>
  <div class="grid grid-cols-1 gap-2 sm:gap-6 sm:grid-cols-2 px-2 py-2">
    <div>
      {/* Product code */}
      <div class="flex flex-row justify-end">
        <span class="text-xs italic \">{titleProductCode}:</span>
        <span class="text-xs italic ml-1">{item.productCode}</span>
      </div>
      {/* Gallery */}
      <figure class="bg-base-100 aspect-square w-full object-cover lg:aspect-auto h-[150px] md:h-[500px]">
        <Image src=`${item.imageUrl}` alt=`${item.title}` width="500" height="500" class="rounded-xl h-[150px] md:h-[500px] object-contain" />
      </figure>
    </div>
    <div class="px-2 py-2">
      <div>
        {isPreview && 
          <a class="flex flex-row align-top" href=`/catalog/products/${item.slug}`>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 pt-1">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
            </svg>
            <h1 class="card-title text-lg font-bold" title={item.title}>
              {trimEnd(item.title, 100)} 
            </h1>          
          </a>
        }
        {!isPreview &&
          <h1 class="card-title text-lg font-bold" title={item.title}>
            {trimEnd(item.title, 100)} 
          </h1>
        }
      </div>
      {/* Descirption */}
      <div class="py-2">
        {(item.description && item.description.length > 0) 
          ? <span>{item.description}</span>
          : <span class="italic text-sm">{titleNoProductDescription}</span>
        }
      </div>
      <ProductPrice price={item.price} whsPrice1={item.whsPrice1} whsPrice2={item.whsPrice2} isDetailed={true} />
      <ProductPackInfo quantityInPack={item.quantityInPack} minQuantityToBuy={item.minQuantityToBuy} unitOfMeasurement={unitItem.title} />
      <ProductMake maker={item.maker} makeCountry={item.makeCountry} />
      <ProductDimensions length={item.dimensionLengthMm} width={item.dimensionWidthMm} height={item.dimensionHeightMm} />
      <ProductColors productId={item.id} colors={item.colors} isDetailed={true} />  
      {/* Add to Shopping Cart */}
      <div class="flex items-center my-4">
        <QuantitySelector inputControlName={inputQuantityName} quantity={1} />
        <button name={btnAddToCartName} class="btn btn-active btn-primary ml-4">{titleAddToCart}</button>
      </div>
    </div>
  </div>
</product-details>

<script>
  import type { Product } from "@/web/src/core/models/product";
  import { parseProduct } from "@/web/src/core/utils/data-attributes-parser";
  import type { CartItem } from "@/web/src/core/models/cart";
  import { addAlert } from "@/web/src/core/stores/client/alert-store";
  import { AlertKind } from "@/web/src/core/models/alert";
  import { addToCart } from "@/web/src/core/stores/client/cart-store";
  import { CartMessages } from "@/web/src/core/const/messages";
  import { getButtonElementByName } from "@/web/src/core/utils/dom-utils";

  class ProductDetails extends HTMLElement {
    private btnAddToCart: Element | null = null;
    private value: Product | undefined;
    private addToCartHandler: any | undefined;

    private onAddToCart = (): any => {
      return (e: Event): void => {
        if (!this.value) {
          console.warn("~ ProductDetails ~ cannot add product to the cart as it values was not parsed properly.")
          return;
        }

        const selectedColorEl =  this.querySelector('input[type=radio]:checked');
        var selectedColor = selectedColorEl ? (selectedColorEl as HTMLInputElement).value : null;
        
        const radioboxes = this.querySelectorAll('input[type=radio]')
        if (!selectedColor && radioboxes.length > 0) {
          selectedColor = (radioboxes[0] as HTMLInputElement).value;
        }
        
        const inputQuantityName = this.dataset.input_quatnity;
        var quanityEl = this.querySelector(`input[name='${inputQuantityName}']`);
        console.assert(quanityEl !== null, "~ ProductDetails ~ cannot find input element with name: %s", inputQuantityName);
        
        const color = selectedColor !== null ? parseInt(selectedColor) : undefined;
        const quantity = quanityEl ? parseInt((quanityEl as HTMLInputElement).value) : 1;

         addToCart({
          productId: this.value.id,
          productCode: this.value.productCode,
          title: this.value.title,
          availableColors: this.value.colors,
          price: this.value.price,
          whsPrice1: this.value.whsPrice1,
          whsPrice2: this.value.whsPrice2,
          image: this.value.thumbnailImageUrl,
          slug: this.value.slug,
          color: color,
          quantity: quantity
        } as CartItem);

        addAlert({ 
          kind: AlertKind.Info, 
          message: CartMessages.AddedToTheCart
        });
      }
    }

    connectedCallback() {
      this.value = parseProduct(this.dataset);
      if (!this.value) {
        console.warn(`~ ProductDetails ~ provided values of product via data attributes are not valid or complete.`);
        return;
      }
      
      this.btnAddToCart = getButtonElementByName(this, this.dataset.btn_add_to_cart);
      this.addToCartHandler = this.onAddToCart();
      this.btnAddToCart?.addEventListener('click', this.addToCartHandler);
    }

    disconnectedCallback() {
      this.addToCartHandler && this.btnAddToCart && this.btnAddToCart.removeEventListener('click', this.addToCartHandler);
    }
  }
  customElements.define('product-details', ProductDetails);
</script>