---
export const prerender = false;

import type { Product } from '@/web/src/core/models/product';
import { UnitOfMeasurementDictionary } from '@/web/src/core/models/unit-of-measurement';
import ProductColors from './ProductColors.astro';
import ProductPrice from './ProductPrice.astro';
import ProductPackInfo from './ProductPackInfo.astro';
import ProductQuickView from './ProductQuickView.astro';
import { trimEnd } from '@/web/src/core/utils/text-formatter';

interface Props {
  item: Product,
}
const { item } = Astro.props;

const unitItem = item.unitId ? 
  UnitOfMeasurementDictionary[item.unitId] : 
  UnitOfMeasurementDictionary[0];

const titleAddToCart = "В корзину";
const titleProductCode = "Артикул";
const btnAddToCardName = "pc-add-to-card";
---

<product-card 
  data-btn_add_to_cart={btnAddToCardName} 
  data-id={item.id} data-product_code={item.productCode} data-title={item.title} data-colors={JSON.stringify(item.colors)} 
  data-price={item.price} data-whs_price1={item.whsPrice1} data-whs_price2={item.whsPrice2} 
  data-category_id={item.categoryId} data-category_slug={item.categorySlug}
  data-image={item.imageUrl} data-slug={item.slug}
>
  <div class="card bg-base-300 w-auto shadow-sm px-2 py-2">
    {/* Product image with quick preivew */}
    <div class="group">
      <ProductQuickView item={item} />
    </div>
    <div class="card-body !px-1 !py-1">
      {/* Product code */}
      <div class="flex flex-row justify-center">
        <span class="text-xs italic \">{titleProductCode}:</span>
        <span class="text-xs italic ml-1">{item.productCode}</span>
      </div>
      {/* Ttitle */}
      <div class="min-h-10">
        <a class="flex flex-row" href=`/catalog/products/${item.slug}`>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 pt-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
          </svg>
          <span class="card-title text-sm font-bold pl-2" title={item.title}>
            {trimEnd(item.title, 50)} 
          </span>
        </a>
      </div>
      {/* Prices block */}
      <ProductPrice price={item.price} whsPrice1={item.whsPrice1} whsPrice2={item.whsPrice2} isDetailed={false} />
      {/* Pack qunatity details */}
      <ProductPackInfo quantityInPack={item.quantityInPack} minQuantityToBuy={item.minQuantityToBuy} unitOfMeasurementTitle={unitItem.title} />
      {/* Available colors */}
      <ProductColors productId={item.id} colors={item.colors} />
      {/* Add to Shopping Cart */}
      <button name={btnAddToCardName} class="btn btn-active btn-primary">{titleAddToCart}</button>
    </div>
  </div>
</product-card>

<script>
  import type { Product } from "@/web/src/core/models/product";
  import { parseProduct } from "@/web/src/core/utils/data-attributes-parser";
  import type { CartItem } from "@/web/src/core/models/cart";
  import { addAlert } from "@/web/src/core/stores/client/alert-store";
  import { AlertKind } from "@/web/src/core/models/alert";
  import { addToCart } from "@/web/src/core/stores/client/cart-store";
  import { CartMessages } from "@/web/src/core/const/messages";

  class ProductCard extends HTMLElement {
    private value: Product | undefined;
    private addToCartHandler: any | undefined;

    private onAddToCart = (): any => {
      return async (event: Event): Promise<void> => {
        if (!this.value) {
          console.warn("~ ProductCard ~ cannot add product to the cart as it values was not parsed properly.")
          return;
        }

        const selectedColorEl =  this.querySelector('input[type=radio]:checked');
        const selectedColor = selectedColorEl ? (selectedColorEl as HTMLInputElement).value : null;
        const color = selectedColor !== null ? parseInt(selectedColor) : undefined;
        const quantity = 1;

        addToCart({
          productId: this.value.id,
          productCode: this.value.productCode,
          title: this.value.title,
          availableColors: this.value.colors,
          price: this.value.price,
          whsPrice1: this.value.whsPrice1,
          whsPrice2: this.value.whsPrice2,
          image: this.value.imageUrl,
          slug: this.value.slug,
          color: color,
          quantity: quantity
        } as CartItem);
          
        addAlert({ 
          kind: AlertKind.Info, 
          message: CartMessages.AddedToTheCart
        });
      };
    }

    connectedCallback() {
      this.value = parseProduct(this.dataset);
      if (!this.value) {
        console.warn(`~ ProductCard ~ provided values of product via data attributes are not valid or complete.`);
        return;
      }
      
      this.addToCartHandler = this.onAddToCart();

      const btnAddToCardName = this.dataset.btn_add_to_cart;
      const button = this.querySelector(`button[name='${btnAddToCardName}']`);
      console.assert(button !== null, "~ ProductCard ~ cannot find button element with name: %s", btnAddToCardName);
      
      button?.addEventListener('click', this.addToCartHandler);
    }

    disconnectedCallback() {
      const btnAddToCardName = this.dataset.btn_add_to_cart;
      const button = this.querySelector(`button[name='${btnAddToCardName}']`);
      this.addToCartHandler && button && button.removeEventListener('click', this.addToCartHandler);
    }
  }
  customElements.define('product-card', ProductCard);
</script>