---
export const prerender = false;

import type { Product, Catalog } from '@/lib/domain';
import ProductColors from './ProductColors.astro';
import ProductPrice from './ProductPrice.astro';
import ProductPackInfo from './ProductPackInfo.astro';
import ProductQuickView from './ProductQuickView.astro';
import { trimEnd } from '@/web/src/core/utils/text-formatter';
import ProductMake from './ProductMake.astro';

interface Props {
  item: Product;
  references: Catalog;
}
const { item, references } = Astro.props;

const unitItem = references.measurementUnits.find(x => x.id === item.unitId);
if (unitItem === undefined) {
  console.warn("~ ProductCard ~ unable to obtain reference of measurement unit with Id", item.unitId);
}

const nameAddToCardAction = "pc-add-to-card";

const titleAddToCart = "В корзину";
const titleProductCode = "Артикул";
const titleUnknown = "(?)";
---

<product-card 
  data-btn_add_to_cart={nameAddToCardAction} 
  data-id={item.id} data-product_uid={item.uid} data-product_code={item.productCode} data-title={item.title} data-colors={JSON.stringify(item.colors)} 
  data-price={item.price} data-whs_price1={item.whsPrice1} data-whs_price2={item.whsPrice2} 
  data-category_id={item.categoryId} data-category_slug={item.categorySlug}
  data-image={item.imageUrl} data-thumbnail-image={item.thumbnailImageUrl} data-slug={item.slug}
>
  <div class="card bg-base-300 w-auto shadow-sm px-2 py-2">
    {/* Product image with quick preivew */}
    <div class="group">
      <ProductQuickView item={item} references={references} />
    </div>
    <div class="card-body px-1! py-1!">
      {/* Product code */}
      <div class="flex flex-row justify-center">
        <span class="text-xs italic">{titleProductCode}:</span>
        <span class="text-xs italic ml-1">{item.productCode}</span>
      </div>
      {/* Ttitle */}
      <a href=`/catalog/products/${item.slug}`>
        <div class="flex flex-row items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 pt-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
          </svg>
          <span class="card-title text-sm font-bold" title={item.title}>
            {trimEnd(item.title, 30)} 
          </span>
        </div>
      </a>
      {/* Prices block */}
      <ProductPrice price={item.price} whsPrice1={item.whsPrice1} whsPrice2={item.whsPrice2} discounts={references.discounts} />
      {/* Pack qunatity details */}
      <ProductPackInfo quantityInPack={item.quantityInPack} minQuantityToBuy={item.minQuantityToBuy} unitOfMeasurement={unitItem?.title ?? titleUnknown} />
      {/* Maker */}
      <ProductMake maker={item.maker} makeCountry={item.makeCountry} />
      {/* Available colors */}
      <ProductColors productId={item.id} colors={item.colors} colorsReference={references.productColors}/>
      {/* Add to Shopping Cart */}
      <button name={nameAddToCardAction} class="btn btn-active btn-primary">{titleAddToCart}</button>
    </div>
  </div>
</product-card>

<script>
  import { parseProduct } from "@/web/src/core/utils/data-attributes-parser";
  import type { CartItem, Product, ProductColor } from "@/lib/domain";
  import { NO_VALUE_ASSIGNED} from "@/lib/domain";
  import { addAlert } from "@/web/src/core/stores/alert-store";
  import { AlertKind } from "@/web/src/core/const";
  import { addToCart } from "@/web/src/core/stores/cart-store";
  import { CartMessages } from "@/web/src/core/const/messages";
  import { getButtonElementByName } from "@/web/src/core/utils/dom-utils";
  import { clientDb } from '@/web/src/core/db/indexed-db';

  class ProductCard extends HTMLElement {
    private addToCardEl: Element | null = null;
    private value: Product | undefined;
    private controller: AbortController | undefined;
    private productColors: Array<ProductColor> = [];

    private onAddToCart = (): void => {
      if (!this.value) {
        console.warn("~ ProductCard ~ cannot add product to the cart as it values was not parsed properly.")
        return;
      }

      const selectedColorEl =  this.querySelector('input[type=radio]:checked');
      const selectedColor = selectedColorEl ? (selectedColorEl as HTMLInputElement).value : null;
      const color = selectedColor !== null ? parseInt(selectedColor) : undefined;
      const colorItem = this.productColors.find(x => x.id === color);
      const quantity = 1;

      addToCart({
        productId: this.value.id,
        productUid: this.value.uid,
        productCode: this.value.productCode,
        title: this.value.title,
        availableColors: this.value.colors,
        price: this.value.price,
        whsPrice1: this.value.whsPrice1,
        whsPrice2: this.value.whsPrice2,
        image: this.value.thumbnailImageUrl,
        slug: this.value.slug,
        colorId: color,
        colorUid: colorItem?.uid,
        colorTitle: colorItem?.title ?? NO_VALUE_ASSIGNED,
        quantity
      } as CartItem);
        
      addAlert({ 
        kind: AlertKind.Info, 
        message: CartMessages.AddedToTheCart
      });
    }

    private loadProductColorsFromIndexedDB(): void {
      if (this.productColors.length > 0) return;

      clientDb.productColors.toArray((data) => { 
        if (data.length === 0) {
          console.warn("~ ProductCard ~ Product Colors data are not available.");
          return;
        }
        this.productColors = data;
      });
    }

    connectedCallback() {
      this.controller = new AbortController();
      this.loadProductColorsFromIndexedDB();

      this.value = parseProduct(this.dataset);
      if (!this.value) {
        console.warn(`~ ProductCard ~ provided values of product via data attributes are not valid or complete.`);
        return;
      }
      
      this.addToCardEl = getButtonElementByName(this, this.dataset.btn_add_to_cart);
      this.addToCardEl?.addEventListener('click', this.onAddToCart, { signal: this.controller.signal });
    }

    disconnectedCallback() {
      this.controller && this.controller.abort();
    }
  }
  customElements.define('product-card', ProductCard);
</script>