---
interface Props {
  quantityInPack: number,
  minQuantityToBuy: number,
  unitOfMeasurement: string,
  isDetailed?: boolean,
}
const { 
  quantityInPack, 
  minQuantityToBuy,
  unitOfMeasurement,
  isDetailed,
} = Astro.props;

const titleQuantityInPack = "В упаковке:";
const titleMinQuantityForOrder = "Мин. заказ:";
---

<div class="flex flex-row gap-6" class:list={[{'justify-evenly': !isDetailed}, {'justify-between': isDetailed}, {'my-2': isDetailed}]}>
  <div class:list={['flex', 'items-center', 'gap-1', {'flex-row': isDetailed}, {'flex-col': !isDetailed}]}>
    <div class="flex flex-row items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-9-5.25L3 7.5m18 0-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
      </svg>
      <span class="pl-1 truncate max-w-20 md:max-w-30" title={titleQuantityInPack}>{titleQuantityInPack}</span>
    </div>
    <span class="flex justify-center text-nowrap">{quantityInPack} {unitOfMeasurement}</span>
  </div>
  <div class:list={['flex', 'items-center', 'gap-1', {'flex-row': isDetailed}, {'flex-col': !isDetailed}]}>
    <div class="flex flex-row items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
      </svg>
      <span class="pl-1 truncate max-w-20 md:max-w-30" title={titleMinQuantityForOrder}>{titleMinQuantityForOrder}</span>
    </div>
    <span class="flex justify-center text-nowrap">{minQuantityToBuy} {unitOfMeasurement}</span>
  </div>
</div>