---
import Modal from "../ModalDialog.astro";
import { Image } from 'astro:assets';
import failureLogo from '@/web/src/assets/failure.png';
import { DialogActionButtons } from "@/web/src/core/const";

interface Props {
  searchDialogId: string;
  searchResultDataAttribute: string;
}
const { searchDialogId, searchResultDataAttribute } = Astro.props; 

const isDevMode = import.meta.env.DEV;
const searchLoadingId = "search-loading";
const searchInputName = "search-input";
const dataSearchErrorDialogID = "search-error-popup";
const dataSearchErrorDetailsId = "search-error-details";

const titleSearchInput = "Введите ключевые слова";
const titleSearchResultsCount = "Найдено";
const titleErrorHeader = "Техническая неисправность";
const titleErrorDetailsHeader = "Детали";
const titleErrorDetails = "Мы работает над выяснением причин."
const titleSearchFailed = "К сожалению у нас возникла техническая неисправность, попробуйте повторить поиск позднее.";
---

<search-input 
  data-search_dialog={searchDialogId} 
  data-search_results={searchResultDataAttribute} 
  data-search_input={searchInputName} 
  data-search_loading={searchLoadingId}
  data-error_popup_id={dataSearchErrorDialogID}
  data-error_details_id={dataSearchErrorDetailsId}
  data-search_results_count={titleSearchResultsCount}
  data-is_dev_mode={isDevMode}
>
  <label class="input p-0 border-0 border-b-2 rounded-none focus-within:border-primary focus-within:outline-hidden w-full">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
      </g>
    </svg>
    <input name={searchInputName} type="search" placeholder={titleSearchInput} autocomplete="off" autocorrect="off" autofocus />
    <div class="w-8">
      <span id={searchLoadingId} class="loading loading-ring loading-xl text-primary hidden"></span>
    </label>
    </div>
    <kbd class="kbd kbd-sm">esc</kbd>
    <Modal id={dataSearchErrorDialogID} title={titleErrorHeader} actionButtons={DialogActionButtons.OK}>
      <div class="flex gap-2 mt-2">
        <div class="grow-0 content-start">
          <Image src={failureLogo}
              class="w-32"
              alt="Fail logo"
            />
        </div>
        <div class="flex flex-col">
          <span>{titleSearchFailed}</span>
          {isDevMode && <div class="font-semibold mt-2">{titleErrorDetailsHeader}</div>
            <div class="text-sm border-0 rounded-sm bg-base-300 my-2.5 p-2.5 min-h-20 overflow-auto">
              <span id={dataSearchErrorDetailsId}>{titleErrorDetails}</span>
            </div>
          </div>}
        </div>
      </div>
    </Modal>
</search-input>

<script>
  import { actions } from 'astro:actions';
  import type { SearchResult } from "@/lib/domain";
  import { debounce, INPUT_DEBOUNCE_DELAY_MS, regexTrue } from "@/lib/domain";
  import { getElementByDataAttribute, getDialogElementById, getElementById, getInputElementByName } from "@/web/src/core/utils/dom-utils";
  import { createSearchResultMarkup } from "@/web/src/core/utils/search-manager";
  import { saveSearch } from "@/web/src/core/stores/search-store";

  class SearchInput extends HTMLElement {
    private controller: AbortController;
    private titleSearchResultsCount: string = "";
    private searchDialogEl: HTMLDialogElement | null = null;
    private searchResultEl: HTMLUListElement | null = null;
    private searchInputEl: HTMLInputElement | null = null;
    private searchLoadingEl: HTMLSpanElement | null = null;
    private errorPopupEl: HTMLDialogElement | null = null;
    private errorDetailsEl: HTMLSpanElement | null = null;
    
    constructor() {
      super();
      this.controller = new AbortController();
      this.onSearchInput = this.onSearchInput.bind(this);
      this.handleDialogToggle = this.handleDialogToggle.bind(this);
    }
    
    private cleanupSearchResults = () => { 
      this.searchResultEl?.replaceChildren();
    }

    private updateLoadingState = (value: boolean) => {
      if (this.searchLoadingEl) {
        this.searchLoadingEl.style.display = value 
          ? "block" 
          : "none";
      }
    }

    private addNewSearchResultElement(value: string) {
      const divAlert = document.createElement("li");
      divAlert.classList.add("flex", "p-2", "gap-3", "items-start");
      this.searchResultEl && this.searchResultEl.appendChild(divAlert);
      divAlert.innerHTML = value;
    }
    
    private async onSearchInput(value: string) {
      const searchTerms = value.trim();
      this.updateLoadingState(searchTerms.length > 0);      
      if (searchTerms.length === 0) {
        return;
      }
      
      this.cleanupSearchResults();      
      const { data, error } = await actions.searchActions.search({ 
        query: searchTerms
      });
      saveSearch((data as SearchResult[]) ?? []);
      this.updateLoadingState(false);

      if (error) {
        if (this.errorDetailsEl) this.errorDetailsEl.innerHTML = error.message;
        (this.errorPopupEl as HTMLDialogElement).showModal();
        return;
      }
      
      this.addNewSearchResultElement(
        `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
        </svg>
        <span class="text-sm">${this.titleSearchResultsCount}: ${data?.length ?? 0}</span>`
      );
      data?.forEach(item => 
        this.addNewSearchResultElement(createSearchResultMarkup(item))
      );
    }

    private handleDialogToggle(e: ToggleEvent) {
      if (e.newState === "closed") {
        this.searchLoadingEl && (this.searchLoadingEl.style.display = "none");
      }
    }

    connectedCallback() {
      const isDevMode = regexTrue.test(this.dataset.is_dev_mode ?? "true");
      this.titleSearchResultsCount = this.dataset.search_results_count ?? "";
      this.searchDialogEl = getDialogElementById(document, 
        this.dataset.search_dialog) as HTMLDialogElement;
      this.searchResultEl = getElementByDataAttribute(document, 
        this.dataset.search_results
      ) as HTMLUListElement;
      this.searchInputEl = getInputElementByName(this,
        this.dataset.search_input
      ) as HTMLInputElement;
      this.searchLoadingEl = getElementById(this, 
        this.dataset.search_loading
      ) as HTMLSpanElement;
      this.errorPopupEl = getElementById(this, 
        this.dataset.error_popup_id
      ) as HTMLDialogElement;
      this.errorDetailsEl = getElementById(this,
        this.dataset.error_details_id,
        !isDevMode        
      ) as HTMLSpanElement;

      const debouncedInput = debounce(this.onSearchInput, INPUT_DEBOUNCE_DELAY_MS);
      this.searchInputEl?.addEventListener(
        "input", 
        () => debouncedInput(this.searchInputEl?.value), 
        { signal: this.controller.signal }
      );

      this.searchDialogEl?.addEventListener(
        "toggle",
        this.handleDialogToggle,
        { signal: this.controller.signal },
      );
    }

    disconnectedCallback() {
      this.controller.abort();
    }
  }

  if (!customElements.get('search-input')) {
    customElements.define('search-input', SearchInput);
  }
</script>