---
import CartContent from "../../components/cart/CartContent.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Оформление заявки на заказ";
const titleContactInfo = "Контактная информация";
const titleOrderDetails = "Детали заказа";
const titleFirstName = "Имя";
const titleLastName = "Фамилия";
const titleEmailName = "E-mail";
const titlePhonetName = "Телефон";
const titleOrgLastName = "Организация";
const titleCityLastName = "Адрес";
const titleRequiredFieldName = "Обязательное поле";
---

<BaseLayout title={pageTitle}>
  <form class="flex flex-col md:flex-row gap-2">  
    <div class="grow-1">
      <h2 class="text-lg font-bold">{titleContactInfo}</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
        <div>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">{titleFirstName}</legend>
            <input type="text" class="input" placeholder="Type here" />
            <p class="label">{titleRequiredFieldName}</p>
          </fieldset>
        </div>
        <div>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">{titleLastName}</legend>
            <input type="text" class="input" placeholder="Type here" />
            <p class="label">{titleRequiredFieldName}</p>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="grow-0 min-w-85 sm:min-w-90">
      <h2 class="text-lg font-bold">{titleOrderDetails}</h2>
      <CartContent isCheckout={true} />
    </div>
  </form>
</BaseLayout>