---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import AlertsContainer from '../components/alerts/AlertsContainer.astro';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title: string;
  description?: string;
}
const { title, description = "" } = Astro.props;

const currentPath = Astro.url.pathname;
const titleMain = `АЛТЕХ - ${title}`;
const titleAuthor = "Герасимов А.В.";
const titleKeywords = "Замки, Замочная фурнитура, Инструменты, Карабины, Мебельная фурнитура, Хозтовары, Хомуты";
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="keywords" content={titleKeywords} />
		<meta name="author" content={titleAuthor} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{titleMain}</title>
		<!-- Enable Astro view transitions -->
		<ClientRouter /> 
		<!-- Yandex.Metrika counter -->
		<script is:inline>
				(function(m,e,t,r,i,k,a){
						m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
						m[i].l=1*new Date();
						for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
						k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
				})(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=108476170', 'ym');
				ym(108476170, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/108476170" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
	</head>
	<body>
		<Header />
		<AlertsContainer />		
		<div class="mx-auto max-w-7xl px-4 py-3 text-center">
			{currentPath !== "/" 
				? <Breadcrumbs currentPath={currentPath} server:defer>
						<div slot="fallback">
							<div class="skeleton h-5 w-28"></div>
						</div>
					</Breadcrumbs>
				: <div class="h-9"></div>
			}
			<slot />
		</div>
		<Footer />
	</body>
</html>



<script is:inline>
  document.addEventListener('click', (e) => {
    if (!/iPad|iPhone|iPod/.test(navigator.userAgent)/*|| !/CriOS|EdgiOS/.test(navigator.userAgent)*/) return false;
    const target = e.target;
    const link = target.closest('a');
    const shouldPushState = link && link.href && link.href.startsWith(window.location.origin) && !link.href.includes('#');
    if (!shouldPushState) return;
    history.pushState(null, '', link.href);
    window.dispatchEvent(new PopStateEvent('popstate'));
  });
</script>

<script>
	import { createWorker } from "../core/factories/worker-factory";
	import { getLocalStorageManager } from "../core/utils/local-storage-manager";
	import { CatalogSyncType, WorkerNames } from "../core/const";
	import type { CatalogSyncStatus } from "../core/web-workers";
	import { regexTrue } from '@/lib/domain';
	
	const localStorageManager = getLocalStorageManager();
	const withTracing = regexTrue.test(
		import.meta.env.PUBLIC_ENABLE_TRACING
	);

	// Need to open API endpoint to make request to WebAPI from script
	const catalogSyncWorker = createWorker(
		WorkerNames.Catalog,
		(msg) => processWorkerMessage(msg), 
		(err) => processWorkerError(err),
	);

	const postCommandToWorker = (command: CatalogSyncType) => {
		withTracing && console.log("🐾 ~ BaseLayout ~ send command to worker '%s'", command);	
		try {
			switch (command) {
				case CatalogSyncType.Replica: 
					catalogSyncWorker.postMessage(CatalogSyncType.Replica);
					break;
				case CatalogSyncType.Cache:
					catalogSyncWorker.postMessage(CatalogSyncType.Cache);
					break;
				default:
					console.error("❌ ~ BaseLayout ~ Failed to post unsupported command '%s' to web-worker", command);
					break;
			}
		} catch(error) {
			console.error("❌ ~ BaseLayout ~ Failed to post command '%s' to CatalogSync web-worker. See error details below. %o", command, error);	
		}		
	}
	
	if (localStorageManager.checkCataloSyncRequired()) {
		withTracing && console.log("🐾 ~ BaseLayout ~ Preaparing to revalidate cache.");	
		postCommandToWorker(CatalogSyncType.Cache);
	} else {
		withTracing && 
			console.log("🐾 ~ BaseLayout ~ Catalog data in IndexedDb are up to date, sync is not required.");
		postCommandToWorker(CatalogSyncType.Replica);
	}

	const terminateWorker = () => {		
		catalogSyncWorker && catalogSyncWorker.terminate();
	}

	const processWorkerMessage = (msg: MessageEvent<any>): void => {				
		withTracing && console.log("🐾 ~ BaseLayout ~ CatalogSync web-worker status update:", msg.data);
		const syncStatus = msg.data as CatalogSyncStatus;
			if (!msg.data || !syncStatus) {
				console.error("❌ ~ BaseLayout ~ CatalogSync web-worker, unsupported message", msg.data);
				return;
			}
			switch (syncStatus.syncType)
			{
				case CatalogSyncType.Replica:
					if (syncStatus.syncData !== undefined)
					localStorageManager.setCatalogReplicaDate(syncStatus.syncData);
					break;
				case CatalogSyncType.Cache:
					localStorageManager.setCatalogSyncDate(new Date());
					localStorageManager.setCatalogReplicaDate(syncStatus.syncData);
					break;
				case CatalogSyncType.CleanUp:
					// No action requried
					break;
				case CatalogSyncType.Failure:
					localStorageManager.setCatalogSyncDate(undefined);
					console.error("❌ ~ BaseLayout ~ Failed to save catalog data to IndexedDB", syncStatus.resultMessage);
					break;
				default:
					console.error("❌ ~ BaseLayout ~ CatalogSync worker, unsupported sync status", syncStatus.syncType);
					break;
			}
			terminateWorker();
	}

	const processWorkerError = (err: ErrorEvent): void => {
		console.error("❌ ~ BaseLayout ~ Failed to process web-worker command", err.message);
		terminateWorker();
	}

	window.addEventListener('pagehide', () => {
    terminateWorker();
  });
</script>