---
export const prerender = false;

import BaseLayout from '../../../layouts/BaseLayout.astro';
import { LiveCollectionNames } from '../../../core/const';
import { type Category } from '../../../core/models/category';
import { getEntryBySlug } from '../../../core/utils/live-collection-manager';
import Categories from '../../../components/catalog/Categories.astro';
import Products from '../../../components/catalog/Products.astro';
import CollectionFallback from '../../../components/CollectionFallback.astro';

const { slug } = Astro.params;
console.log("🚀 ~ Category page ~ slug: %s", slug);

const getCategory = async (slug: string): Promise<Category | undefined>  => {
  return await getEntryBySlug<Category>(LiveCollectionNames.Categories, slug)
    .then((result) => {
      if (!result.value) console.log("🚀 ~ Category page ~ category not found by slug:", result.slug);
      return result.value;
    })
    .catch((reason) => {
      console.error((reason as Error).message);
      return undefined;
    });
}

var category: Category | undefined;
if (slug) {
  category = await getCategory(slug);
  if (!category) {
    Astro.session?.set("catalog", { 
      activeProductSlug: undefined,
      activeCategorySlug: undefined,
      activeParentCategorySlug: undefined 
    });
    return Astro.redirect("/404");
  }

  Astro.session?.set("catalog", { 
    activeProductSlug: undefined, 
    activeCategorySlug: category.slug, 
    activeParentCategorySlug: category.parentSlug 
  });
}

const subTitleCategories = "Список подкатегорий";
const subTitleProducts = "Список товаров";
---

<BaseLayout title=`Каталог - ${category?.title}`>
  <Categories parentSlug={category?.slug} title={subTitleCategories} server:defer>
		<div slot="fallback" class="mx-3.5">
			<CollectionFallback title={subTitleCategories} />
		</div>
	</Categories>
	<Products categorySlug={category?.slug} server:defer>
		<div slot="fallback" class="mx-3.5">
			<CollectionFallback title={subTitleProducts} />
		</div>
	</Products>
</BaseLayout>