---
import Modal from "../ModalDialog.astro";
import CartContent from "./CartContent.astro"
import { Image } from 'astro:assets';
import failureLogo from '@/web/src/assets/failure.png';
import { DialogActionButtons } from "../../core/const";

const isDevMode = import.meta.env.DEV;

const dataFormCheckoutName = "form-checkout"
const dataOrderConfirmCommandName = "order-confirm";
const dataLoadingName = "loading";
const dataCheckoutErrorDialogID = "cart-checkout-error-popup";
const dataCheckoutErrorDetailsId = "cart-checkout-error-details";

const titleContactInfo = "Контактная информация";
const titleOrderDetails = "Детали заказа";
const titleFullName = "ФИО*";
const titleEmailName = "E-mail*";
const titlePhonetName = "Телефон";
const titleOrgName = "Организация";
const titleAddressName = "Адрес";
const titleCityName = "Город";
const titlePostCode = "Почтовый код";
const titleTaxNumber = "ИНН";
const titleIncorrectValue = "Введите корректное значение поля";
const titleIncorrectPhone = "Номер должен состоять из 11 цифр и начинаться с 8";
const titleIncorrectPostCode = "Почтовый индеск должен состоять из 6 цифр";
const titleIncorrectTaxNumber = "ИНН должен состоять из 12 цифр";
const titleConfirmOrder = "Подтвердить заказ";
const titleErrorHeader = "Техническая неисправность";
const titleErrorDetailsHeader = "Детали";
const titleErrorDetails = "Мы работает над выяснением причин."
const titleCartCheckoutFailed = "К сожалению у нас возникла техническая неисправность. Но не стоит беспокоиться, в ближайшее время мы пришлем подтверждение заказа на электронную почту.";
---

<cart-checkout 
  data-form_checkout={dataFormCheckoutName}
  data-order_confirm={dataOrderConfirmCommandName}
  data-loading={dataLoadingName}
  data-error_popup_id={dataCheckoutErrorDialogID}
  data-error_details_id={dataCheckoutErrorDetailsId}
>
  <div class="fieldset flex flex-col md:flex-row gap-4">
    <div class="grow">
      <form name={dataFormCheckoutName}>  
        <h2 class="text-lg font-bold">{titleContactInfo}</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <fieldset class="fieldset col-span-2">
            <legend class="fieldset-legend">{titleFullName}</legend>
            <input type="text" name="fullName" class="input w-full validator" required placeholder="" />
            <p class="validator-hint hidden">{titleIncorrectValue}</p>
          </fieldset>
          <fieldset class="fieldset col-span-2 sm:col-span-1">
            <legend class="fieldset-legend">{titleEmailName}</legend>
            <input type="email" name="email" class="input w-full validator" required placeholder="name@mail.ru" />
            <p class="validator-hint hidden">{titleIncorrectValue}</p>
          </fieldset>
          <fieldset class="fieldset col-span-2 sm:col-span-1">
            <legend class="fieldset-legend">{titlePhonetName}</legend>
            <input type="tel" name="phone" class="input w-full validator" placeholder="8..."
              pattern="8[0-9]*"
              minlength="11"
              maxlength="11" />
            <p class="validator-hint hidden">{titleIncorrectPhone}</p>
          </fieldset>
          <fieldset class="fieldset col-span-2 sm:col-span-1">
            <legend class="fieldset-legend">{titleOrgName}</legend>
            <input type="text" name="companyName" class="input w-full validator" placeholder="" />
          </fieldset>
          <fieldset class="fieldset col-span-2 sm:col-span-1">
            <legend class="fieldset-legend">{titleTaxNumber}</legend>
            <input type="text" name="taxNumber" class="input w-full validator" placeholder="" 
              pattern="[0-9]*"
              minlength="12"
              maxlength="12" />
            <p class="validator-hint hidden">{titleIncorrectTaxNumber}</p>
          </fieldset>
          <fieldset class="fieldset col-span-2">
            <legend class="fieldset-legend">{titleAddressName}</legend>
            <input type="text" name="address" class="input w-full validator" placeholder="" />
          </fieldset>
          <fieldset class="fieldset col-span-2 sm:col-span-1">
            <legend class="fieldset-legend">{titleCityName}</legend>
            <input type="text" name="city" class="input w-full validator" placeholder="" />
          </fieldset>
          <fieldset class="fieldset col-span-2 sm:col-span-1">
            <legend class="fieldset-legend">{titlePostCode}</legend>
            <input type="text" name="postCode" class="input w-full validator" placeholder="125466" 
              pattern="[0-9]*"
              minlength="6"
              maxlength="6"/>
            <p class="validator-hint hidden">{titleIncorrectPostCode}</p>
          </fieldset>
          <div class="col-span-2 flex justify-center items-center">
            <button name={dataOrderConfirmCommandName} class="btn btn-primary w-1/2 sm:w-1/3 rounded-md border border-transparent">
              {titleConfirmOrder}
            </button>
            <div class="w-6">
              <span id={dataLoadingName} class="loading loading-ring loading-xl text-primary ml-2 hidden"></span>
            </div>
          </div>
        </div>      
      </form>
    </div>
    <div class="grow-0 min-h-full min-w-85 sm:min-w-90">
      <h2 class="text-lg font-bold">{titleOrderDetails}</h2>
      <CartContent isCheckout={true} />
    </div>
  </div>
  <Modal id={dataCheckoutErrorDialogID} title={titleErrorHeader} actionButtons={DialogActionButtons.OK}>
    <div class="flex gap-2 mt-2">
      <div class="grow-0 content-start">
        <Image src={failureLogo}
            class="w-32"
            alt="Fail logo"
          />
      </div>
      <div class="flex flex-col">
        <span>{titleCartCheckoutFailed}</span>
        {isDevMode && <div class="font-semibold mt-2">{titleErrorDetailsHeader}</div>
          <div class="text-sm border-0 rounded-sm bg-base-300 my-2.5 p-2.5 min-h-20 overflow-auto">
            <span id={dataCheckoutErrorDetailsId}>{titleErrorDetails}</span>
          </div>
        </div>}
      </div>
    </div>
  </Modal>
</cart-checkout> 

<script>
  import { actions } from 'astro:actions';
  import { navigate } from 'astro:transitions/client';
  import { $cart, $cartCount } from "@/web/src/core/stores/cart-store";
  import { getErrorMessage, type GuestUser } from '@/lib/domain';
  import { getButtonElementByName, getElementById, getFormElementByName } from '@/web/src/core/utils/dom-utils';

  class CartCheckout extends HTMLElement {
    private storeCountUnsubscribe?: () => void;
    private formCartCheckoutEl: Element | null = null;
    private orderConfirmEl: Element | null = null;
    private loadingEl: Element | null = null;
    private errorPopupEl: Element | null = null;
    private errorDetailsEl: Element | null = null;
    private orderConfirmHandler: any;

    constructor() {
      super();
    }

    private createOrder = async (): Promise<string | undefined> => {
      const formData = new FormData(this.formCartCheckoutEl as HTMLFormElement);
      const entries = formData?.entries();
      const user = Object.fromEntries(entries) as GuestUser;
      const cartItems = $cart.get();

      const result = await actions.cartActions.checkout({ 
        guestUser: user,
        cartContent: cartItems,
      });

      if (result.error !== undefined) throw result.error;
      return result.data;
    }

    private resetCart = () => {
      $cart.set([]);
    }

    private onOrderConfirmClick = () => {
      return async (e: Event) => {
        e.preventDefault();

        const formEl = this.formCartCheckoutEl as HTMLFormElement;
        formEl?.reportValidity();
        if (!formEl || !formEl.checkValidity()) return;

        (this.orderConfirmEl as HTMLInputElement).disabled = true;
        (this.loadingEl as HTMLSpanElement).style.display = "block"; 
        await this.createOrder()
          .then((result) => {
            if (!result) {
              if (this.errorDetailsEl) this.errorDetailsEl.innerHTML = "Failed to create new order." ;
              (this.errorPopupEl as HTMLDialogElement).showModal();
              return;
            }
            this.resetCart();
            navigate(`/cart/confirmed?order=${result}`);
          })
          .catch((error) => {
            const errorMessage = getErrorMessage(error);
            console.error(errorMessage);
            if (this.errorDetailsEl) this.errorDetailsEl.innerHTML = errorMessage;
            (this.errorPopupEl as HTMLDialogElement).showModal();
          })
          .finally(() => {
            (this.orderConfirmEl as HTMLInputElement).disabled = false;
            (this.loadingEl as HTMLSpanElement).style.display = "none"; 
          });
      }
    }

    private syncCartCountFromStore(): void {
      if (!this.orderConfirmEl) return;
      const totalCount = $cartCount.get();
      if (this.orderConfirmEl) {
        (this.orderConfirmEl as HTMLInputElement).disabled = (totalCount === 0);
      }
    }

    private subscribeToCountStore() {
      if (!this.orderConfirmEl) return; 
      this.storeCountUnsubscribe = $cartCount.listen((value) => {
        if (this.orderConfirmEl) {
          (this.orderConfirmEl as HTMLInputElement).disabled = (value === 0);
        }
      });
    }

    connectedCallback() {
      this.formCartCheckoutEl = getFormElementByName(this, this.dataset.form_checkout);
      this.orderConfirmEl = getButtonElementByName(this, this.dataset.order_confirm);
      this.loadingEl = getElementById(this, this.dataset.loading); 
      this.errorPopupEl = getElementById(this, this.dataset.error_popup_id);
      this.errorDetailsEl = getElementById(this, this.dataset.error_details_id);
      this.subscribeToCountStore();
      this.syncCartCountFromStore();

      this.orderConfirmHandler = this.onOrderConfirmClick();
      this.orderConfirmEl?.addEventListener('click', this.orderConfirmHandler);
    }

    disconnectedCallback() {
      this.storeCountUnsubscribe && this.storeCountUnsubscribe();
      this.orderConfirmEl?.removeEventListener('click', this.orderConfirmHandler);
    }
  }

  customElements.define('cart-checkout', CartCheckout);
</script>