---
import CartSidebar from "./CartSidebar.astro";

const titleCart = "Корзина";
const titleViewCart = "Просмотреть";
const titleCartItemsNumber = "Товаров:";
const titleCartCostSum = "На сумму:";

const sidebarId = "cart-sidebar";
const dataCartIndicatorName = "data-cartmenu-indicator";
const dataCartCountName = "data-cartmenu-count";
const dataCartDiscountedCostName = "data-cartmenu-discounted-cost";
const dataCartFullCostName = "data-cartmenu-full-cost";
const dataCartShowCommandName = "cartmenu-show";
---

<cart-menu 
  data-cartmenu_indicator={dataCartIndicatorName} 
  data-cartmenu_count={dataCartCountName} 
  data-cartmenu_discounted_cost={dataCartDiscountedCostName} 
  data-cartmenu_full_cost={dataCartFullCostName}
  data-cartmenu_show={dataCartShowCommandName}
  data-cartmenu_sidebar={sidebarId}
>
  <CartSidebar id={sidebarId} />
  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
      <div class="indicator">
        <span data-cartmenu-indicator class="indicator-item badge badge-xs badge-info">0</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
          <title>{titleCart}</title>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /> 
        </svg>
      </div>
    </div>
    <div tabindex="0" class="card card-compact dropdown-content bg-base-300 z-1 mt-3 w-52 shadow">
      <div class="card-body p-4">
        <div class="flex flex-row gap-1">
          <span class="text-lg font-bold">{titleCartItemsNumber}</span>
          <span data-cartmenu-count class="text-lg font-bold">{0}</span>
        </div>
        <span>{titleCartCostSum}</span>
        <div class="flex flex-row gap-1">
          <span data-cartmenu-discounted-cost class="text-info font-semibold">{0}</span>
          <del data-cartmenu-full-cost class="text-info font-semibold"></del>
        </div>
        <button name="cartmenu-show" class="btn btn-primary w-full rounded-md border border-transparent">{titleViewCart}</button>
      </div>
    </div>
  </div>
</cart-menu>

<script>
  import { clientDb } from "@/web/src/core/db/indexed-db";
  import { formatCurrency } from "@/web/src/core/utils/text-formatter";
  import { type Discount } from "@/lib/domain";
  import { $cartCount, $cartCost, $cartWhsCost1, $cartWhsCost2 } from "@/web/src/core/stores/cart-store";
  import { getButtonElementByName, getElementByDataAttribute, getElementById } from "@/web/src/core/utils/dom-utils";
 
  class CartMenu extends HTMLElement {
    private controller: AbortController | undefined;
    private discounts: Discount[] = [];
    private cartIndicatorEl: Element | null = null;
    private cartCountEl: Element | null = null;
    private discountedCostEl: Element | null = null;
    private fullCostEl: Element | null = null;
    private cartShowEl: Element | null = null; 
    private sidebarEl: Element | null = null;
    private storeCountUnsubscribe?: () => void;
    private storeCostUnsubscribe?: () => void;
    private storeWhsCost1Unsubscribe?: () => void;
    private storeWhsCost2Unsubscribe?: () => void;
    private cartShowHandler: any;

    constructor() {
      super();
    }

    private onCartShowClick = () => {
      return (e: Event) => {
        e.preventDefault();
        if (this.sidebarEl !== null) (this.sidebarEl as HTMLInputElement).click();
      }
    }

    private syncCartCountFromStore(): void {
      if (!this.cartIndicatorEl || !this.cartCountEl) return;

      const totalCount = $cartCount.get();
      this.cartIndicatorEl.innerHTML = totalCount.toString();
      this.cartCountEl.innerHTML = totalCount.toString();
      if (this.cartShowEl) { 
        (this.cartShowEl as HTMLInputElement).disabled = (totalCount === 0); 
      }
    }

    private syncCartCostFromStore(): void {
      const sum = $cartCost.get();
      const whsSum1 = $cartWhsCost1.get();
      const whsSum2 = $cartWhsCost2.get();

      const discountIndex = this.discounts.findLastIndex(x => sum >= x.fromSum);
      if (discountIndex === 2) {
        //console.log("~ CartMenu ~ discount cost #2 applied:%i", sum);
        if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(whsSum2);  
        if (this.fullCostEl !== null) this.fullCostEl.innerHTML = formatCurrency(sum);
      } else if (discountIndex === 1) {
        //console.log("~ CartMenu ~ discount cost #1 applied:%i", sum);
        if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(whsSum1);  
        if (this.fullCostEl !== null) this.fullCostEl.innerHTML = formatCurrency(sum);
      } else {
        //console.log("~ CartMenu ~ no discounts applied:%i", sum);
        if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(sum);
        if (this.fullCostEl !== null) this.fullCostEl.innerHTML = "";
      }
    }

    private loadDiscountsFromIndexedDB(): void {
      if (this.discounts.length > 0) return;
      clientDb.discounts.toArray((data) => { 
        if (!data || data.length === 0) {
          console.warn("~ CartMenu ~ Discunts data are not available.")
          return;
        }
        this.discounts = data;
        this.syncCartCostFromStore()
      });
    }

    private subscribeToCountStore() {
      this.storeCountUnsubscribe = $cartCount.listen((/*value*/) => {
        //console.log("~ CartMenu component ~ total count has changed:", value);
        this.syncCartCountFromStore();
        if (this.discounts.length === 0) {
          this.loadDiscountsFromIndexedDB();
        }
      });
    }

    private subscribeToCostStore() {
      this.storeCostUnsubscribe = $cartCost.listen((value) => {
        //console.log("~ CartMenu ~ full cost:%i", value);
        if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(value);
        if (this.fullCostEl !== null) this.fullCostEl.innerHTML = "";
      });
    }

    private subscribeToWhsCost1Store() {
      this.storeWhsCost1Unsubscribe = $cartWhsCost1.listen((value) => {
        const sum = $cartCost.get();
        const discountIndex = this.discounts.findLastIndex(x => sum >= x.fromSum);
        if (discountIndex === 1) {
          //console.log("~ CartMenu ~ discount cost #1:%i", value);
          if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(value);
          if (this.fullCostEl !== null) this.fullCostEl.innerHTML = formatCurrency($cartCost.get());
        }
      });
    }

    private subscribeToWhsCost2Store() {
      this.storeWhsCost2Unsubscribe = $cartWhsCost2.listen((value) => {
        const sum = $cartCost.get();
        const discountIndex = this.discounts.findLastIndex(x => sum >= x.fromSum);
        if (discountIndex === 2) {
          //console.log("~ CartMenu ~ discount cost #2:%i", value);
          if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(value);
          if (this.fullCostEl !== null) this.fullCostEl.innerHTML = formatCurrency($cartCost.get());
        }
      });
    }    
    
    connectedCallback() {
      this.controller = new AbortController();
      this.cartIndicatorEl = getElementByDataAttribute(this, this.dataset.cartmenu_indicator);
      this.cartCountEl = getElementByDataAttribute(this, this.dataset.cartmenu_count);
      this.discountedCostEl = getElementByDataAttribute(this, this.dataset.cartmenu_discounted_cost);
      this.fullCostEl = getElementByDataAttribute(this, this.dataset.cartmenu_full_cost);
      this.cartShowEl = getButtonElementByName(this, this.dataset.cartmenu_show);
      this.sidebarEl = getElementById(this, this.dataset.cartmenu_sidebar);

      this.cartShowHandler = this.onCartShowClick();
      this.cartShowEl?.addEventListener('click', this.cartShowHandler, { signal: this.controller.signal });

      this.subscribeToCountStore();
      this.subscribeToCostStore();
      this.subscribeToWhsCost1Store();
      this.subscribeToWhsCost2Store();

      this.syncCartCountFromStore();
      this.loadDiscountsFromIndexedDB();
    }

    disconnectedCallback() {
      this.controller?.abort();
      this.discounts.length = 0;
      this.storeCountUnsubscribe && this.storeCountUnsubscribe();
      this.storeCostUnsubscribe && this.storeCostUnsubscribe();
      this.storeWhsCost1Unsubscribe && this.storeWhsCost1Unsubscribe();
      this.storeWhsCost2Unsubscribe && this.storeWhsCost2Unsubscribe();
    }
  }

  customElements.define('cart-menu', CartMenu);
</script>