---
interface Props {
  scrollContainerName?: string,
  isCheckout?: boolean,
}
const { scrollContainerName = "", isCheckout = false } = Astro.props;

const dataCartContainerName = "data-cart-container";
const dataDiscountedCostName = "data-discounted-cost";
const dataFullCostName = "data-full-cost";
const dataCartUpdateCommandName = "cart-update";
const dataCartRemoveCommandName = "cart-remove";
const dataCartCheckoutCommandName = "cart-checkout"

const titleCheckout = "Перейти к оформлению";
const titleSubtotal = "Итого:"; 
---

<cart-content 
  data-scroll_container={scrollContainerName}
  data-cart_container={dataCartContainerName}
  data-discounted_cost={dataDiscountedCostName}
  data-full_cost={dataFullCostName}
  data-cart_update={dataCartUpdateCommandName} 
  data-cart_remove={dataCartRemoveCommandName}
  data-cart_checkout={dataCartCheckoutCommandName}
  data-is_checkout={isCheckout}
>
  <!-- Cart summary -->
  <div class="navbar sticky top-0 z-1 bg-base-300 rounded-md min-h-1">
    <div class="flex flex-col w-full">
      <div class="flex justify-between text-base font-medium">
        <p>{titleSubtotal}</p>
        <div class="flex flex-row gap-1">
          <span data-discounted-cost class="text-info">{0}</span>
          <del data-full-cost class="text-info"></del>
        </div>
      </div>
      {!isCheckout && 
        <div class="mt-1">
          <button name={dataCartCheckoutCommandName} class="btn btn-primary w-full rounded-md border border-transparent">{titleCheckout}</button>
        </div>
      }
    </div>
  </div>
  <!-- <Cart content /> -->
  <div class="flex flex-col overflow-auto focus:outline-none" 
    class:list={[
      {'rounded-md': isCheckout}, 
      {'border': isCheckout}, 
      {'border-solid': isCheckout}, 
      {'border-gray-200': isCheckout}, 
      {'h-[122]': isCheckout}, 
      {'mt-2': isCheckout}
    ]}
  >
    <ul data-cart-container role="list" class="divide-y divide-gray-200">
    </ul>    
  </div>
</cart-content>

<script>
  import { navigate } from 'astro:transitions/client';
  import { CartMessages } from "@/web/src/core/const/messages";
  import { AlertKind } from "@/web/src/core/const";
  import { addAlert } from "@/web/src/core/stores/alert-store";
  import { $cart, $cartCost, $cartWhsCost1, $cartWhsCost2, addToCart, removeFromCart, updateCart } from "@/web/src/core/stores/cart-store";
  import type { Discount, CartItem } from "@/lib/domain";
  import { createCartItemMarkup } from "@/web/src/core/utils/cart-manager";
  import { formatCurrency } from "@/web/src/core/utils/text-formatter";
  import { regexTrue } from '@/web/src/core/utils/regex';
  import { getButtonElementByName, getElementByDataAttribute } from '@/web/src/core/utils/dom-utils';
  import { clientDb } from '@/web/src/core/db/indexed-db';
  import type { ProductColor } from '@/lib/domain';
  import { NO_VALUE_ASSIGNED } from '@/web/src/core/const';

  const CART_VIEW_INIT_TIMEOUT_MS = 300;

  class CartContent extends HTMLElement {
    private controller: AbortController | undefined;
    private discounts: Discount[] = [];
    private productColors: ProductColor[] = [];
    private discountIndex: number = 0;
    private scrollContainerEl: Element | null = null;
    private discountedCostEl: Element | null = null;
    private fullCostEl: Element | null = null;
    private cartContainerEl: Element | null = null;
    private cartCheckoutEl: Element | null = null;
    private updateCartCommandName: string | undefined;
    private removeCartCommandName: string | undefined;
    private storeCartUnsubscribe?: () => void;
    private storeCostUnsubscribe?: () => void;
    private storeWhsCost1Unsubscribe?: () => void;
    private storeWhsCost2Unsubscribe?: () => void;
    private cartCheckoutHandler: any;

    private updateHandlers: {
      [key: number]: (e: Event) => any;
    } = {};

    private removeHandlers: {
      [key: number]: (e: Event) => any;
    } = {};

    constructor() {
      super();
    }

    private onCartCheckoutClick = () => {
      return (e: Event) => {
        e.preventDefault();
        navigate('/cart');
      }
    }

    private cleanupCartContent = () => {
      if (this.updateCartCommandName) {
        this.querySelectorAll(`button[name='${this.updateCartCommandName}']`).forEach((x, index) => 
          this.updateHandlers[index] && x.removeEventListener('click', this.updateHandlers[index])
        );
      }
      if (this.removeCartCommandName) {
        this.querySelectorAll(`button[name='${this.removeCartCommandName}']`).forEach((x, index) => 
          this.removeHandlers[index] && x.removeEventListener('click', this.removeHandlers[index])
        );
      }  
      this.cartContainerEl?.replaceChildren();
    }

    private syncCartCostFromStore(): void {
      const sum = $cartCost.get();
      const whsSum1 = $cartWhsCost1.get();
      const whsSum2 = $cartWhsCost2.get(); 

      this.discountIndex = this.discounts.findLastIndex(x => sum >= x.fromSum);
      if (this.discountIndex === 2) {
        //console.log("~ CartContent ~ discount cost #2 applied:%i", sum);
        if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(whsSum2);  
        if (this.fullCostEl !== null) this.fullCostEl.innerHTML = formatCurrency(sum);
      } else if (this.discountIndex === 1) {
        //console.log("~ CartContent ~ discount cost #1 applied:%i", sum);
        if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(whsSum1);  
        if (this.fullCostEl !== null) this.fullCostEl.innerHTML = formatCurrency(sum);
      } else {
        //console.log("~ CartContent ~ no discounts applied:%i", sum);
        if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(sum);
        if (this.fullCostEl !== null) this.fullCostEl.innerHTML = "";
      }
    }

    private getCartItemsSorted = (): CartItem[] => {
      return $cart.get().sort((a: CartItem, b: CartItem) => {
        if (a.title < b.title) return -1;
        if (a.title > b.title) return 1;
        return 0;
      });
    }

    private refreshCartCheckoutState = (itemsCount: number) => {
      if (this.cartCheckoutEl) {
        (this.cartCheckoutEl as HTMLInputElement).disabled = (itemsCount === 0);
      }
    }

    private syncCartContentFromStore() {
      if (this.cartContainerEl === null
        || this.updateCartCommandName === null
        || this.removeCartCommandName === null
      ) {
        return;
      } 

      const cartItems = this.getCartItemsSorted();
      this.refreshCartCheckoutState(cartItems.length);
      
      // remember scroll position to restore after content repaint
      const scrollTop = this.scrollContainerEl?.scrollTop;
      //console.log("🚩 ~ CartContent ~ scroll position before repaint:", scrollTop);

      this.cleanupCartContent();
      cartItems.forEach(x => {
        console.log("~ CartContent ~ syncCartContentFromStore", x);
        const divAlert = document.createElement("li");
        divAlert.classList.add("flex", "p-2");
        this.cartContainerEl && this.cartContainerEl.appendChild(divAlert);
        if (this.updateCartCommandName !== undefined && this.removeCartCommandName !== undefined) {
          divAlert.innerHTML = createCartItemMarkup(x, this.discountIndex, this.productColors, this.updateCartCommandName, this.removeCartCommandName);
        }
      });

      // restore scroll position
      if (scrollTop && this.scrollContainerEl) {
        this.scrollContainerEl.scrollTop = scrollTop;
      }

      // Assign event handlers to each cart item commands (UpdateCart, RemoveCart)
      this.querySelectorAll(`button[name='${this.updateCartCommandName}']`).forEach((x, index) => {
        this.updateHandlers[index] = this.onUpdateCart(cartItems[index].id);
        x.addEventListener('click', this.updateHandlers[index]);
      });
      this.querySelectorAll(`button[name='${this.removeCartCommandName}']`).forEach((x, index) => {
        this.removeHandlers[index] = this.onRemoveFromCart(cartItems[index].id);
        x.addEventListener('click', this.removeHandlers[index]);
      });
    }

    private loadDiscountsFromIndexedDB(): void {
      if (this.discounts.length > 0) return;
      clientDb.discounts.toArray((data) => { 
        if (!data || data.length === 0) {
          console.warn("~ CartContent ~ Discunts data are not available.")
          return;
        }
        this.discounts = data;
        this.syncCartCostFromStore()
      });    
    }

    private loadProductColorsFromIndexedDB(): void {
      if (this.productColors.length > 0) return;

      clientDb.productColors.toArray((data) => { 
        if (data.length === 0) {
          console.warn("~ CartContent ~ Product Colors data are not available.");
          return;
        }
        this.productColors = data;
        this.syncCartContentFromStore();
      });
    }

    private subscribeToCartStore() {
      this.storeCartUnsubscribe = $cart.listen((items) => {
        //console.log("~ CartContent ~ cart store changed");
        if (this.cartCheckoutEl) (this.cartCheckoutEl as HTMLInputElement).disabled = (items.length === 0);
        setTimeout(() => {
          this.syncCartContentFromStore();
          if (this.discounts.length === 0) {
            this.loadDiscountsFromIndexedDB();
          }
          if (this.productColors.length === 0) {
            this.loadProductColorsFromIndexedDB();
          }
        }, CART_VIEW_INIT_TIMEOUT_MS)
      });
    }

    private subscribeToCostStore() {
      this.storeCostUnsubscribe = $cartCost.listen((value) => {
        //console.log("~ CartContent ~ full cost: ", value);
        this.discountIndex = this.discounts.findLastIndex(x => value >= x.fromSum);
        if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(value);
        if (this.fullCostEl !== null) this.fullCostEl.innerHTML = "";
      });
    }

    private subscribeToWhsCost1Store() {
      this.storeWhsCost1Unsubscribe = $cartWhsCost1.listen((value) => {
        const sum = $cartCost.get();
        this.discountIndex = this.discounts.findLastIndex(x => sum >= x.fromSum);
        if (this.discountIndex === 1) {
          //console.log("~ CartContent ~ discount cost #1 applied:%i", value);
          if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(value);
          if (this.fullCostEl !== null) this.fullCostEl.innerHTML = formatCurrency($cartCost.get());
        }
      });
    }

    private subscribeToWhsCost2Store() {
      this.storeWhsCost2Unsubscribe = $cartWhsCost2.listen((value) => {
        const sum = $cartCost.get();
        this.discountIndex = this.discounts.findLastIndex(x => sum >= x.fromSum);
        if (this.discountIndex === 2) {
          //console.log("~ CartContent ~ discount cost #2 applied:%i", value);
          if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(value);
          if (this.fullCostEl !== null) this.fullCostEl.innerHTML = formatCurrency($cartCost.get());
        }
      });
    }

    private onUpdateCart = (id: string): any => {
      return (): void => {
        var item = $cart.get().find(x => x.id === id);
        if (!item) {
          console.warn(`~ CartContent ~ cannot update cart as item with id:'%s' not found`, id);
          return;
        }

        const colorEl = this.querySelector(`select[name='${id}-color']`);
        const color = colorEl !== null ? parseInt((colorEl as HTMLInputElement).value) : undefined;

        const quantityEl = this.querySelector(`input[name='${id}-quantity']`);
        const quantity = quantityEl ? Math.abs(parseInt((quantityEl as HTMLInputElement).value)) : 1;

        if (item.color !== undefined && item.color !== color) {
          // color has changed
          removeFromCart(id);

          const existingItem = $cart.get().find(x => x.productId === item?.productId && x.color === color);
          if (existingItem) { 
            updateCart({ ...existingItem, quantity: existingItem.quantity + quantity })
          } else {
            const colorTitle = this.productColors.find(x => x.id === color)?.title ?? NO_VALUE_ASSIGNED;
            addToCart({ ...item, color, colorTitle, quantity})
          }
        }
        else {
          // just quantity has changed
          updateCart({ ...item, quantity });
        }

        addAlert({ 
          kind: AlertKind.Info, 
          message: CartMessages.UpdatedInTheCart
        });
      }
    }

    private onRemoveFromCart = (id: string): any => {
      return (): void => {        
        removeFromCart(id);

        addAlert({ 
          kind: AlertKind.Info, 
          message: CartMessages.RemovedFromTheCart
        });
      }
    }

    private getScrollContainerElement(): Element | null {
      const scrollContainerName = this.dataset.scroll_container;
      if (scrollContainerName !== undefined && scrollContainerName.trim().length > 0) {
        const result = window.document.querySelector(`div[id=${scrollContainerName}]`);
        return result;
      }
      if (this.cartContainerEl === null) console.warn("🚩 ~ CartContent ~ scrollContainerEl should not be null");
      return this.cartContainerEl !== null ? this.cartContainerEl.parentElement : null;
    }

    private assertDataAttributeValue = (attribute: string| undefined, name: string): string | undefined => {
      console.assert(attribute !== undefined, "~ CartContent ~ Data attribute with name '[%s]' does not have value", name);
      return attribute;
    }

    connectedCallback() {
      this.controller = new AbortController();
      this.cartContainerEl = getElementByDataAttribute(this, this.dataset.cart_container);
      this.discountedCostEl = getElementByDataAttribute(this, this.dataset.discounted_cost);
      this.fullCostEl = getElementByDataAttribute(this, this.dataset.full_cost);
      this.scrollContainerEl = this.getScrollContainerElement();
      this.cartCheckoutEl = !this.dataset.is_checkout?.match(regexTrue) ? 
      getButtonElementByName(this, this.dataset.cart_checkout) : 
      null;

      this.updateCartCommandName = this.assertDataAttributeValue(this.dataset.cart_update, "cart_update");
      this.removeCartCommandName = this.assertDataAttributeValue(this.dataset.cart_remove, "cart_remove");

      this.cartCheckoutHandler = this.onCartCheckoutClick();
      this.cartCheckoutEl?.addEventListener('click', this.cartCheckoutHandler, { signal: this.controller.signal });

      this.subscribeToCartStore();
      this.subscribeToCostStore();
      this.subscribeToWhsCost1Store();
      this.subscribeToWhsCost2Store();
      
      this.loadDiscountsFromIndexedDB();
      this.loadProductColorsFromIndexedDB();
    }

    disconnectedCallback() {
      this.controller?.abort();
      this.discounts.length = 0;
      this.productColors.length = 0;
      this.storeCartUnsubscribe && this.storeCartUnsubscribe();
      this.storeCostUnsubscribe && this.storeCostUnsubscribe();
      this.storeWhsCost1Unsubscribe && this.storeWhsCost1Unsubscribe()
      this.storeWhsCost2Unsubscribe && this.storeWhsCost2Unsubscribe()     
      this.cleanupCartContent();
    }
  }

  customElements.define('cart-content', CartContent);
</script>