---
interface Props {
  isCheckout: boolean,
}
const { isCheckout } = Astro.props;

const dataCartRootName = "data-cart-root";
const dataDiscountedCostName = "data-discounted-cost";
const dataFullCostName = "data-full-cost";
const dataCartUpdateCommandName = "cart-update";
const dataCartRemoveCommandName = "cart-remove";
const dataCartCheckoutCommandName = "cart-checkout"

const titleCheckout = "Перейти к оформлению";
const titleSubtotal = "Итого:"; 
---

<cart-content 
  data-cart_root={dataCartRootName}
  data-discounted_cost={dataDiscountedCostName}
  data-full_cost={dataFullCostName}
  data-cart_update={dataCartUpdateCommandName} 
  data-cart_remove={dataCartRemoveCommandName}
  data-cart_checkout={dataCartCheckoutCommandName}
  data-is_checkout={isCheckout}
>
  <!-- Cart summary -->
  <div class="navbar sticky top-0 z-60 bg-base-300 rounded-md min-h-1">
    <div class="flex flex-col w-full">
      <div class="flex justify-between text-base font-medium">
        <p>{titleSubtotal}</p>
        <div class="flex flex-row gap-1">
          <span data-discounted-cost class="text-info">{0}</span>
          <del data-full-cost class="text-info"></del>
        </div>
      </div>
      {!isCheckout && 
        <div class="mt-1">
          <button name={dataCartCheckoutCommandName} class="btn btn-primary w-full rounded-md border border-transparent">{titleCheckout}</button>
        </div>
      }
    </div>
  </div>
  <div class="flex flex-col overflow-auto focus:outline-none" class:list={[{'rounded-md': isCheckout}, {'border': isCheckout}, {'border-solid': isCheckout}, {'border-gray-200': isCheckout}, {'h-[28rem]': isCheckout}, {'mt-2': isCheckout}]}>
    <!-- <Cart items /> -->
    <ul data-cart-root role="list" class="divide-y divide-gray-200">
    </ul>    
  </div>
</cart-content>

<script>
  import { navigate } from 'astro:transitions/client';
  import { CartMessages } from "@/web/src/core/const/messages";
  import { AlertKind } from "@/web/src/core/models/alert";
  import { addAlert } from "@/web/src/core/stores/client/alert-store";
  import { $cart, $cartCost, $cartWhsCost1, $cartWhsCost2, addToCart, removeFromCart, updateCart } from "@/web/src/core/stores/client/cart-store";
  import { DiscountMetadata } from "../../core/models/discount";
  import type { CartItem } from "../../core/models/cart";
  import { createCartItemMarkup } from "../../core/utils/cart-manager";
  import { formatCurrency } from "../../core/utils/text-formatter";
  import { regexTrue } from '../../core/utils/regex';

  class CartContent extends HTMLElement {
    private discountIndex: number = 0;
    private discountedCostEl: Element | null = null;
    private fullCostEl: Element | null = null;
    private cartRootEl: Element | null = null;
    private cartCheckoutEl: Element | null = null;
    private updateCartCommandName: string | undefined;
    private removeCartCommandName: string | undefined;
    private storeCartUnsubscribe?: () => void;
    private storeCostUnsubscribe?: () => void;
    private storeWhsCost1Unsubscribe?: () => void;
    private storeWhsCost2Unsubscribe?: () => void;
    private cartCheckoutHandler: any;

    private updateHandlers: {
      [key: number]: (e: Event) => any;
    } = {};

    private removeHandlers: {
      [key: number]: (e: Event) => any;
    } = {};

    constructor() {
      super();
    }

    private onCartCheckoutClick = () => {
      return (e: Event) => {
        e.preventDefault();
        navigate('/cart');
      }
    }

    private cleanupCartRoot = () => {
      if (!this.cartRootEl) return [];
      if (!this.updateCartCommandName) return [];
      if (!this.removeCartCommandName) return [];

      this.querySelectorAll(`button[name='${this.updateCartCommandName}']`).forEach((x, index) => 
        this.updateHandlers[index] && x.removeEventListener('click', this.updateHandlers[index])
      );

      this.querySelectorAll(`button[name='${this.removeCartCommandName}']`).forEach((x, index) => 
        this.removeHandlers[index] && x.removeEventListener('click', this.removeHandlers[index])
      );

      this.cartRootEl.replaceChildren();
    }

    private syncCartCostFromStore(): void {
      const sum = $cartCost.get();
      const whsSum1 = $cartWhsCost1.get();
      const whsSum2 = $cartWhsCost2.get(); 

      if (sum >= DiscountMetadata[2]?.sum) {
        console.log("~ CartContent ~ discount cost #2 applied:%i", sum);
        this.discountIndex = 2;
        if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(whsSum2);  
        if (this.fullCostEl !== null) this.fullCostEl.innerHTML = formatCurrency(sum);
      } else if (sum >= DiscountMetadata[1]?.sum) {
        console.log("~ CartContent ~ discount cost #1 applied:%i", sum);
        this.discountIndex = 1;
        if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(whsSum1);  
        if (this.fullCostEl !== null) this.fullCostEl.innerHTML = formatCurrency(sum);
      } else {
        console.log("~ CartContent ~ no discounts applied:%i", sum);
        this.discountIndex = 0;
        if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(sum);
        if (this.fullCostEl !== null) this.fullCostEl.innerHTML = "";
      }
    }

    private syncCartContentFromStore() {
      if (!this.cartRootEl) return [];
      if (!this.updateCartCommandName) return [];
      if (!this.removeCartCommandName) return [];

      this.cleanupCartRoot();

      const cartItems = $cart.get().sort((a: CartItem, b: CartItem) => {
        if (a.title < b.title) return -1;
        if (a.title > b.title) return 1;
        return 0;
      });
      
      if (this.cartCheckoutEl) (this.cartCheckoutEl as HTMLInputElement).disabled = (cartItems.length === 0);     

      cartItems.forEach(x => {
        const divAlert = document.createElement("li");
        divAlert.classList.add("flex", "p-2");
        this.cartRootEl && this.cartRootEl.appendChild(divAlert);
        if (this.updateCartCommandName !== undefined && this.removeCartCommandName !== undefined) {
          divAlert.innerHTML = createCartItemMarkup(x, this.discountIndex, this.updateCartCommandName, this.removeCartCommandName);
        }
      });

      // Assign event handlers to each cart item commands (UpdateCart, RemoveCart)
      this.querySelectorAll(`button[name='${this.updateCartCommandName}']`).forEach((x, index) => {
        this.updateHandlers[index] = this.onUpdateCart(cartItems[index].id);
        x.addEventListener('click', this.updateHandlers[index]);
      });
      this.querySelectorAll(`button[name='${this.removeCartCommandName}']`).forEach((x, index) => {
        this.removeHandlers[index] = this.onRemoveFromCart(cartItems[index].id);
        x.addEventListener('click', this.removeHandlers[index]);
      });
    }

    private subscribeToCartStore() {
      this.storeCartUnsubscribe = $cart.listen((items) => {
        console.log("~ CartContent ~ cart store changed");
        if (this.cartCheckoutEl) (this.cartCheckoutEl as HTMLInputElement).disabled = (items.length === 0);
        setTimeout(() => {
          this.syncCartContentFromStore();
        }, 300)
      });
    }

    private subscribeToCostStore() {
      if (!this.discountedCostEl || !this.fullCostEl) return; 

      this.storeCostUnsubscribe = $cartCost.listen((value) => {
        console.log("~ CartContent ~ full cost: ", value);
        this.discountIndex = 0;
        if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(value);
        if (this.fullCostEl !== null) this.fullCostEl.innerHTML = "";
      });
    }

    private subscribeToWhsCost1Store() {
      if (!this.discountedCostEl || !this.fullCostEl) return;

      this.storeWhsCost1Unsubscribe = $cartWhsCost1.listen((value) => {
        if (value >= DiscountMetadata[1]?.sum) {
          console.log("~ CartContent ~ discount cost #1: ", value);
          this.discountIndex = 1;
          if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(value);
          if (this.fullCostEl !== null) this.fullCostEl.innerHTML = formatCurrency($cartCost.get());
        }
      });
    }

    private subscribeToWhsCost2Store() {
      if (!this.discountedCostEl || !this.fullCostEl) return;
      
      this.storeWhsCost2Unsubscribe = $cartWhsCost2.listen((value) => {
        if (value >= DiscountMetadata[2]?.sum) {
          console.log("~ CartContent ~ discount cost #2: ", value);
          this.discountIndex = 2;
          if (this.discountedCostEl !== null) this.discountedCostEl.innerHTML = formatCurrency(value);
          if (this.fullCostEl !== null) this.fullCostEl.innerHTML = formatCurrency($cartCost.get());
        }
      });
    }

    private onUpdateCart = (id: string): any => {
      return (e: Event): void => {
        var item = $cart.get().find(x => x.id === id);
        if (!item) {
          console.warn(`~ CartContent ~ cannot update cart as item with id:'%s' not found`, id);
          return;
        }

        const colorEl = this.querySelector(`select[name='${id}-color']`);
        const color = colorEl !== null ? parseInt((colorEl as HTMLInputElement).value) : undefined;

        const quantityEl = this.querySelector(`input[name='${id}-quantity']`);
        const quantity = quantityEl ? parseInt((quantityEl as HTMLInputElement).value) : 1;

        if (item.color !== undefined && item.color !== color) {
          // color has changed
          removeFromCart(id);

          const existingItem = $cart.get().find(x => x.productId === item?.productId && x.color === color);
          if (existingItem) { 
            updateCart({ ...existingItem, quantity: existingItem.quantity + quantity })
          } else {
            addToCart({ ...item, color, quantity})
          }
        }
        else {
          // just quantity has changed
          updateCart({ ...item, quantity });
        }

        addAlert({ 
          kind: AlertKind.Info, 
          message: CartMessages.UpdatedInTheCart
        });
      }
    }

    private onRemoveFromCart = (id: string): any => {
      return (e: Event): void => {        
        removeFromCart(id);

        addAlert({ 
          kind: AlertKind.Info, 
          message: CartMessages.RemovedFromTheCart
        });
      }
    }

    private getDiscountedCostElement = (): Element | null => {
      const dataDiscountedCostName = this.dataset.discounted_cost;
      const result = this.querySelector(`[${dataDiscountedCostName}]`);
      console.assert(result !== null, "Cannot find element [%s]", dataDiscountedCostName);
      return result;
    }

    private getFullCostElement = (): Element | null => {
      const dataFullCostName = this.dataset.full_cost;
      const result = this.querySelector(`[${dataFullCostName}]`);
      console.assert(result !== null, "Cannot find element [%s]", dataFullCostName);
      return result;
    }

    private getCartRootElement = (): Element | null => {
      const dataCartRootName = this.dataset.cart_root;
      const result = this.querySelector(`[${dataCartRootName}]`);
      console.assert(result !== null, "Cannot find element [%s]", dataCartRootName);
      return result;
    } 

    private getUpdateCartCommandName = (): string | undefined => {
      const result = this.dataset.cart_update;
      console.assert(result !== undefined, "Cannot find element [%s]", result);
      return result;
    }

    private getRemoveCartCommandName = (): string | undefined => {
      const result = this.dataset.cart_remove;
      console.assert(result !== undefined, "Cannot find element [%s]", result);
      return result;
    }
    
    private getCartCheckoutElement = (): Element | null => {
      const isCheckout = this.dataset.is_checkout?.match(regexTrue);
      if (isCheckout) return null;

      const dataCartCheckoutCommandName = this.dataset.cart_checkout;
      const result = this.querySelector(`button[name='${dataCartCheckoutCommandName}']`);
      console.assert(result !== null, "Cannot find element [%s]", dataCartCheckoutCommandName);
      
      this.cartCheckoutHandler = this.onCartCheckoutClick();
      result?.addEventListener('click', this.cartCheckoutHandler);
      
      return result;
    }

    connectedCallback() {
      this.cartRootEl = this.getCartRootElement();
      this.updateCartCommandName = this.getUpdateCartCommandName();
      this.removeCartCommandName = this.getRemoveCartCommandName();
      this.discountedCostEl = this.getDiscountedCostElement();
      this.fullCostEl = this.getFullCostElement();
      this.cartCheckoutEl = this.getCartCheckoutElement();

      this.subscribeToCartStore();
      this.subscribeToCostStore();
      this.subscribeToWhsCost1Store();
      this.subscribeToWhsCost2Store();
      
      this.syncCartCostFromStore()
      this.syncCartContentFromStore();
    }

    disconnectedCallback() {
      this.storeCartUnsubscribe && this.storeCartUnsubscribe();
      this.storeCostUnsubscribe && this.storeCostUnsubscribe();
      this.storeWhsCost1Unsubscribe && this.storeWhsCost1Unsubscribe()
      this.storeWhsCost2Unsubscribe && this.storeWhsCost2Unsubscribe()
      
      this.cartCheckoutEl?.removeEventListener('click', this.cartCheckoutHandler);

      this.cleanupCartRoot();
    }
  }

  customElements.define('cart-content', CartContent);
</script>