---
export const prerender = false;

import { Image } from 'astro:assets';
import { getLiveCollection } from 'astro:content';
import { LiveCollectionValidationError } from 'astro/content/runtime';
import type { Category } from '../loaders/categories-loader';
import { createTextHelper } from '../utils/text-helper';

const { entries: categories, error } = await getLiveCollection('categories', { parentSlug: ''  });
console.log("🚀 ~ Categories component ~ obtained lists of categories:", categories)

if (LiveCollectionValidationError.is(error)) {
  console.error("🚀 ~ Categories component ~ shema validation errors:", error)
} else if (error) {
  console.error("🚀 ~ Categories component ~ error:", error)
}

const categoriesBlobStorageUrl = `${import.meta.env.PUBLIC_BLOB_STORAGE_CATEGORIES_URL}`
console.log("🚀 ~ Categories component ~ blob storage url:", categoriesBlobStorageUrl)
---

<div class="px-4 pt-4 bg-base-100">
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-5 py-2 ">
    {categories && categories.map(
      x => {
        const item = x as unknown as Category;
        return (
          <div class="card bg-base-100 w-auto shadow-sm">
            <a class="no-underline" href=`/catalog/categories/${item.slug}`>     
              <figure class="px-1 pt-1">
                <Image src=`${categoriesBlobStorageUrl}/${item.image}` alt=`${item.title}` width="75" height="75" class="rounded-xl"/>
                {/* <img src=`${categoriesBlobStorageUrl}/${item.image}` alt=`${item.title}` width="75" height="75" class="rounded-xl" /> */}
              </figure>
              <div class="card-body items-center text-center !px-1 !py-1">
                <span class="card-title text-sm font-bold" title={item.title}>
                  {createTextHelper(item.title).trimEnd(21, '.')}
                </span>
                {item.description && <p>
                  <span title={item.description}>
                    {createTextHelper(item.description).trimEnd(100, '.')}
                  </span>
                </p>}
              </div>
            </a>
          </div>);
      })
    }
  </div>
  {!categories && <span>Категории отстуствуют</span>}
</div>
