---
export const prerender = false;

import { ReadReplicaManager } from '@/lib/cqrs';
import { CacheManager } from '@/lib/cqrs';
import BaseLayout from '../layouts/BaseLayout.astro';
import { formatDate, NO_VALUE_ASSIGNED, ReadReplicaTypes } from '@/lib/domain';

const cacheManager = CacheManager.instance({});
const catalogReadReplica = ReadReplicaManager.instance().get(ReadReplicaTypes.Catalog);

const titlePageName = "Системные данные";
const titleQueryCache = "Кэш запросов";
const titleQueryCacheOf = "из";
const titleBrowserCache = "Кэш браузера";
const titleCatalogReplica = "Реплика каталога";
const titleRevalidateQueryCache = "Оптимизировать";
const titleResetCache = "Сбросить";
---

<BaseLayout title={titlePageName}>
	<div class="stats stats-vertical lg:stats-horizontal bg-base-100 border-base-300 border text-center">
		<div class="stat">
			<div class="stat-figure text-info">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
					<path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
				</svg>
			</div>
			<div class="stat-title">{titleQueryCache}</div>
			<div class="stat-value text-primary">{cacheManager.getSize()} {titleQueryCacheOf} {cacheManager.getSizeLimit()}</div>				
			<div class="stat-actions">
				<button data-query-cache-revalidate class="btn btn-xs btn-secondary" class:list={[{'btn-disabled': !cacheManager.containsInvalid()}]}>{titleRevalidateQueryCache}</button>
				<button data-query-cache-reset class="btn btn-xs btn-secondary" class:list={[{'btn-disabled': cacheManager.getSize() === 0}]}>{titleResetCache}</button>
			</div>
		</div>

		<div class="stat">
			<div class="stat-figure text-info">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
				</svg>
			</div>
			<div class="stat-title">{titleBrowserCache}</div>
			<div data-browser-cahe-sync-date class="stat-value text-primary">{NO_VALUE_ASSIGNED}</div>
			<div class="stat-actions">
				<button data-browser-cache-reset class="btn btn-xs btn-secondary">{titleResetCache}</button>
			</div>
		</div>

		<div class="stat">
			<div class="stat-figure text-info">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
					<path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
				</svg>
			</div>
			<div class="stat-title">{titleCatalogReplica}</div>
			<div class="stat-value text-primary text-xl">{catalogReadReplica.fileName}</div>
			<div class="stat-desc">(created at: {formatDate(catalogReadReplica.createdAt)})</div>
		</div>
	</div>
	<!-- <section class="mx-4 my-4 w-full text-left">
		<div class="flex flex-row gap-4">
			<input data-order-id
					type="number"
					class="input validator"
					required
					placeholder="Type a valid order number"
					min="1"
					max="1000"
					title="Must be between be 1 to 1000"
				/>
			<button data-order-send class="btn">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
				</svg>
				Re-send
			</button>
		</div>
	</section> -->
</BaseLayout>

<script>
	import { getErrorMessage, NO_VALUE_ASSIGNED } from "@/lib/domain";
	import { actions } from "astro:actions";
	import { navigate } from "astro:transitions/client";
	import { getLocalStorageManager } from "../core/utils/local-storage-manager";

	const controller: AbortController = new AbortController();
	const localStorageManager = getLocalStorageManager();
	const localStorageSyncDate = localStorageManager.getCatalogSyncDate();

	const assingEventHandlers = (signal: AbortSignal) => {
		// Query Cache revalidate 
		const buttonCacheRevalidate = document.querySelector('[data-query-cache-revalidate]');
		buttonCacheRevalidate?.addEventListener('click', async () => { 		
			const result = await actions.internalsActions.revalidateQueryCache();		
			if (result.error) {
				const errorMessage = getErrorMessage(result.error);
				console.error(`🛑 ~ internals ~ cache revalidation failed: ${errorMessage}`);
				return;
			}
			if (result.data) navigate(`/internals`);
		}, { signal });

		// Query Cache reset 
		const buttonCacheReset = document.querySelector('[data-query-cache-reset]');
		buttonCacheReset?.addEventListener('click', async () => {
			const result = await actions.internalsActions.resetQueryCache();
			if (result.error) {
				const errorMessage = getErrorMessage(result.error);
				console.error(`🛑 ~ internals ~ cache reset failed: ${errorMessage}`);
				return;
			}			
			navigate(`/internals`);
		}, { signal });

		// Browser cache syncDate
		const localCacheSyncDateEl = document.querySelector('[data-browser-cahe-sync-date]');
		if (localCacheSyncDateEl !== null) {
			localCacheSyncDateEl.textContent = localStorageSyncDate !== undefined 
				? localStorageSyncDate.toLocaleTimeString("ru-RU")
				: NO_VALUE_ASSIGNED;
		}

		// Browswer cahce reset button
		const buttonLocalCacheReset = document.querySelector('[data-browser-cache-reset]');
		buttonLocalCacheReset?.addEventListener('click', async () => {
			localStorageManager.resetCatalogSyncDate();
			navigate(`/internals`, {  });
		}, { signal });

		// Order re-send
		// const buttonOrderSend = document.querySelector('[data-order-send]');		
		// buttonOrderSend?.addEventListener('click', async () => {
		// 	const inputOrderId = document.querySelector('[data-order-id]');
		// 	const value = (inputOrderId as HTMLInputElement).value;
		// 	console.log("🧪 resend order: %s", value);
		// 	if (value.trim() === "") return;
		// 	const result = await actions.internalsActions.resendNewOrderEmail(parseInt(value, 10));		
		// 	if (result.error) {
		// 		const errorMessage = getErrorMessage(result.error);
		// 		console.error(`🛑 ~ internals ~ order resend failed: ${errorMessage}`);
		// 		return;
		// 	}
		// }, { signal });
	}

	assingEventHandlers(controller.signal);

	window.addEventListener('beforeunload', () => { 
    // This instantly removes all listeners using 'signal' from themeToggleManager
    controller?.abort(); 
  });

  window.addEventListener('pagehide', () => {     
    // This instantly removes all listeners using 'signal' from themeToggleManager
    controller?.abort(); 
  });
</script>