---
export const prerender = false;

import BaseLayout from '../../../layouts/BaseLayout.astro';
import { $activeCategory, $activeProduct, setActiveCategory, setActiveProduct } from "../../../core/stores/catalog-store";
import { LiveCollectionNames } from '../../../core/const';
import { getEntryBySlug } from '../../../core/helpers/live-collection-manager';
import type { Product } from '../../../core/models/product';
import type { Category } from '../../../core/models/category';

const { slug } = Astro.params;
console.log("🚀 ~ Product page ~ slug: %s", slug);

setActiveProduct(undefined);
setActiveCategory(undefined);

if (slug) {
  var product = await getEntryBySlug(LiveCollectionNames.Products, slug)
    .then(result => {
      if (!result.value) console.log("🚀 ~ Product page ~ product not found by slug:", result.slug);
      if (result.value) setActiveProduct(result.value as Product);
      return result.value as Product | undefined;
    })
    .catch(reason => console.error(reason));
      
    if (product) {
      await getEntryBySlug(LiveCollectionNames.Categories, product.categorySlug)
        .then((result) => {
          if (!result.value) console.log("🚀 ~ Product page ~ category not found by slug:", result.slug);
          if (result.value) setActiveCategory(result.value as Category);
        })
        .catch(reason => console.error(reason));
    }
}

console.log(
  "🚀 ~ Product page ~ parsed active product '%s' and its category '%s'", 
  $activeProduct?.value?.title,
  $activeCategory?.value?.title, 
);
---

<script>
  // Get product data on client-side
  // const element = document.getElementById('product-card');
  // console.log("🚀 ~ Product page ~ slug: %s", element?.dataset.slug);  
</script>

<BaseLayout title=`Каталог - ${$activeProduct?.value?.title}`>
    <div id="product-card" class="px-4" 
      data-slug={$activeProduct?.value?.slug} 
      data-id={$activeProduct?.value?.id} 
      data-title={$activeProduct?.value?.title} 
      data-categoryid={$activeProduct?.value?.categoryId} 
      data-categoryid={$activeProduct?.value?.categoryId}
    >
      <span>Страница в разработке...</span>
      <!-- <span>Значение продукта из сессии {sessionProduct?.title}</span> -->
    </div>
</BaseLayout>