---
export const prerender = false;

import BaseLayout from '../../../layouts/BaseLayout.astro';
import { $activeProduct, setActiveCategory, setActiveProduct } from "../../../core/stores/catalog-store";
import { LiveCollectionNames } from '../../../core/const';
import { getEntryBySlug } from '../../../core/helpers/live-collection-manager';
import type { Product } from '../../../core/models/product';
import type { Category } from '../../../core/models/category';

const { slug } = Astro.params;
console.log("🚀 ~ Product page ~ slug:", slug);

setActiveProduct(undefined);
setActiveCategory(undefined);

if (slug) {
  const product = await getEntryBySlug<Product>(LiveCollectionNames.Products, slug)
    .then(result => {
      if (!result.value) console.log("🚀 ~ Product page ~ product not found by slug:", result.slug);
      if (result.value) setActiveProduct(result.value as Product);
      return result.value;
    })
    .catch(reason => {
      console.error((reason as Error).message);
    });
  if (!product) return Astro.redirect("/404");
  
  const category = await getEntryBySlug<Category>(LiveCollectionNames.Categories, product.categorySlug)
    .then((result) => {
      if (!result.value) console.log("🚀 ~ Product page ~ category not found by slug:", result.slug);
      if (result.value) setActiveCategory(result.value as Category);
      return result.value;
    })
    .catch(reason => {
      console.error((reason as Error).message);        
    });
  if (!category) return Astro.redirect("/404");
}
---

<script>
  // Get product data on client-side
  // const element = document.getElementById('product-card');
  // console.log("🚀 ~ Product page ~ slug: %s", element?.dataset.slug);  
</script>

<BaseLayout title=`Каталог - ${$activeProduct?.value?.title}`>
    <div id="product-card" class="px-4" 
      data-slug={$activeProduct?.value?.slug} 
      data-id={$activeProduct?.value?.id} 
      data-title={$activeProduct?.value?.title} 
      data-categoryid={$activeProduct?.value?.categoryId} 
      data-categoryslug={$activeProduct?.value?.categorySlug}
    >
      <span>Страница в разработке...</span>
    </div>
</BaseLayout>