---
export const prerender = false;

import BaseLayout from '@/web/src/layouts/BaseLayout.astro';
import { getProduct } from '@/web/src/core/utils/live-collection-manager';
import ProductDetails from '@/web/src/components/catalog/ProductDetails.astro';
import { getSessionManager } from '@/web/src/core/utils/session-manager';
import type { Catalog, Product } from '@/lib/domain';
import { CacheKeys, getCacheInfo, getErrorMessage } from '@/lib/domain';
import { fetchMeasurementUnits, fetchDiscounts, fetchColors, getQueryManager } from '@/lib/cqrs';

const { slug } = Astro.params;
const queryManager = getQueryManager();

const internals = {
  fetchCatalogReferences: async (): Promise<Catalog | undefined> => {
    let result: Catalog | undefined = undefined;
    try {
      result = await Promise.all([
        queryManager.fetch(
          () => fetchMeasurementUnits(),
          getCacheInfo(CacheKeys.MeasurementUnits),
        ), 
        queryManager.fetch(
          () => fetchDiscounts(),
          getCacheInfo(CacheKeys.Discounts),
        ), 
        queryManager.fetch(
          () => fetchColors(),
          getCacheInfo(CacheKeys.Colors),
        ),
      ]).then((data) => {        
        if (data.some(x => x.error !== undefined)) {
          const errorMessage = data.reduce((acc, curr) => acc + `${curr.error !== undefined ? curr.error?.message + ", " : ""}`, "").slice(0, -2);
          console.error("~ Product page ~", errorMessage);  
          return undefined;
        }
        return {
          measurementUnits: data[0].data ?? [],
          discounts: data[1].data ?? [],
          colors: data[2].data ?? [],
        }
      }).catch((err) => { 
        console.error("~ Product page ~ failed to load dictionaries (measurement units, discounts, product colors))", err);
        return undefined;
      });
      return Promise.resolve(result);
    } catch(error) {
      console.error("❌ ~ Product page ~ failed to fetch catalog references", error);
      return Promise.reject(getErrorMessage(error));
    }
  },
  fetchProduct: async (): Promise<Product | undefined> => {
    try {
      if (slug !== undefined) return await getProduct(slug);
      return Promise.reject("Could not retrieve product as slug is undefined.");
    } catch(error) {
      console.error("❌ ~ Product page ~ failed to fetch product", error);
      return Promise.reject(getErrorMessage(error));
    }
  }
}

const sessionManager = getSessionManager(Astro.session);
let product: Product | undefined = undefined;
try {
  product = await internals.fetchProduct();
}
catch (error) {
  console.error(error);
  sessionManager.resetActiveCatalogItem();
  return Astro.redirect("/500");
}
if (product === undefined) {
  sessionManager.resetActiveCatalogItem();
  return Astro.redirect("/404");
}

let references: Catalog | undefined = undefined;
try {
  references = await internals.fetchCatalogReferences();
}
catch(error) {
  console.error(error);
  sessionManager.resetActiveCatalogItem();
  return Astro.redirect("/404");
}
if (references === undefined) {
  sessionManager.resetActiveCatalogItem();
  return Astro.redirect("/500");
}

sessionManager.setActiveCatalogItem({ 
  parentCategory: undefined,
  category: { slug: product.categorySlug, title: product.categoryTitle }, 
  product: { slug: product.slug, title: product.title }
});

const titlePageName = `Каталог - ${product?.title ?? ""}`;
const titlePageDescription = product?.description ?? "";
---

<BaseLayout title={titlePageName} description={titlePageDescription}>
    <div id="product-container" class="px-4">
      {product && 
        <ProductDetails item={product} references={references} isPreview={false} />
      }
    </div>
</BaseLayout>