---
import { Image } from 'astro:assets';
import AltexLogo from '../assets/altex-logo-md.png';
import { getNavPathManager } from '../core/utils/nav-path-manager';
import CartMenu from './cart/CartMenu.astro';

const allPaths = getNavPathManager().getAllPaths({ isMainMenu: true, isFooter: false, isBreadcrumbs: false });
const titleLightThemeSwitch = "Переключиться тему на светлую";
const titleDarkThemeSwitch = "Переключить тему на темную";
---

<script>
  import { getThemeToggleManager, type ThemeToggleManager } from "../core/utils/theme-toggle";

  let controller: AbortController | undefined;
  let themeToggleManager: ThemeToggleManager | undefined;

  const applyThemeToggler = () => {
    console.log("🌎 ~ Header component ~ apply theme toggler");
    controller && controller.abort();
    
    themeToggleManager = getThemeToggleManager({
      coreEl: document.querySelector('[data-theme-toggle]'),
      darkThemeEl: document.querySelector('[data-theme-toggle-dark]'),
      lightThemeEl: document.querySelector('[data-theme-toggle-light]')});
        
    controller = new AbortController();
    themeToggleManager.apply(controller.signal);
  }

  document.addEventListener("astro:page-load", () => {
    // Need to apply ThemeToggler on Astro page transition (will hit on page load as well, so it's enough to have it here)
    applyThemeToggler();
  });

  // To avoid glitch with current theme on page transitions.
  document.addEventListener("astro:after-swap", () => {    
    const currentTheme = themeToggleManager && themeToggleManager.getCurrentTheme();
    if (currentTheme !== undefined) {
     document.documentElement.setAttribute("data-theme", currentTheme);
    }
  });

  window.addEventListener('pagehide', () => {
    // This instantly removes all listeners using 'signal' from themeToggleManager
    controller && controller.abort(); 
  });
</script>

<div class="navbar sticky top-0 z-50 bg-base-300 border-b-1 border-solid border-neutral-content">
  <div class="navbar-start pl-3">
    {/* Main menu for mobile screens */}
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-300 rounded-box z-1 mt-3 w-52 p-2 shadow">
        {allPaths && allPaths.map((x) => (
          <li>
            <a href={"/".concat(x.path)}>{x.value}</a>
          </li>
        ))}
      </ul>
    </div>
    <a href="/">
      <Image src={AltexLogo} class="w-16" alt="Logo" />
    </a>
    <div class="px-3 hidden md:flex">
      <a class="text-xl font-bold decoration-0" href="/">АЛТЕХ</a>
    </div>
  </div>
  {/* Main menu for desktop screens */}
  <div class="navbar-center hidden sm:flex">
    <ul class="menu menu-horizontal px-1 font-semibold">
      {allPaths && allPaths.map((x) => (
        <li>
          <a href={"/".concat(x.path)}>{x.value}</a>
        </li>
      ))}
      {/* Search for desktop screens */}
      <li class="px-3">
        <input type="text" placeholder="Поиск" class="input input-sm w-24 md:w-auto" />
      </lid>
    </ul>
  </div>
  <div class="navbar-end gap-1">
    {/* Search for mobile screens */}
    <div class="sm:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-5">
        <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>
    </div>
    {/* Shopping cart */}
    <CartMenu />
    {/* User profile - not supported yet, guest users only */}
    {/* <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <title>Аккаунт пользователя</title>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
          </svg>
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-300 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">
            Мой профиль
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Настройки</a></li>
        <li><a>Выход</a></li>
      </ul>
    </div> */}
    {/* Light/Dark theme toggler */}
    <div class="ml-1 mr-5">
      <label class="swap swap-rotate hover:text-gray-500">
        <!-- this hidden checkbox controls the state -->
        <input data-theme-toggle type="checkbox" class="theme-controller" value="dark"  />
        <!-- sun icon -->
        <svg data-theme-toggle-light
            class="swap-off h-6 w-6 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24">
            <title>{titleLightThemeSwitch}</title>
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="0.5" fill="solid" stroke="currentColor">
              <path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
            </g>
        </svg>
        <!-- moon icon -->
        <svg data-theme-toggle-dark
            class="swap-on h-5.5 w-5.5 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24">
            <title>{titleDarkThemeSwitch}</title>
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="0.1" fill="solid" stroke="currentColor">
              <path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,  13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
            </g>
        </svg>
      </label>
    </div>
  </div>
</div>