---
interface Props {
  inputControlName: string,
  quantity?: number,
}

const { inputControlName, quantity } = Astro.props;
const btnIncrementName = "qs-increment";
const btnDecrementName = "qs-decrement";
const decreaseQauntity = "Уменьшить количество";
const increaseQauntity = "Увеличить количество";
---

<quatnity-selector data-input_name={inputControlName} data-btn_increment={btnIncrementName} data-btn_decrement={btnDecrementName} data-quantity={quantity}>
  <div class="flex min-w-24 border-2 border-gray-400 rounded">
    <button name={btnDecrementName} aria-label={decreaseQauntity} class="outline-none cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" focusable="false" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
      </svg>
    </button>
    <input name={inputControlName} type="number" inputmode="numeric" size="3" value={quantity ?? 1} min="1" max="5000" autocomplete="off" 
      class="min-w-10 outline-none text-center" />
    <button name={btnIncrementName} aria-label={increaseQauntity} class="outline-none cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    </button>
  </div>
</quatnity-selector>

<script>
  class QuantitySelector extends HTMLElement {
    private quantity = 1;
    private inputValueChangeHandler: any;
    private incrementHandler: any;
    private decrementHandler: any;

    private onInputValueChange = () => {
      return (e: Event) => {
        const checkValue = parseInt((e.target as any)?.value, 10);
        if (isNaN(checkValue) || checkValue <=1 || checkValue >= 5000) {
          console.warn("~ QuantitySelector ~ current value is not in the valid range (1 - 5000)");
          this.syncUI();
          return;
        }
        this.quantity = checkValue;
      }
    }

    private onIncrement = () => {
      return () => {
        if (this.quantity >= 5000) {
          console.warn("~ QuantitySelector ~ current value is not in the valid range (1 - 5000):", this.quantity);
          return;
        }
        this.quantity += 1;
        this.syncUI();
      }
    }

    private onDecrement = () => {
      return () => {
        if (this.quantity <= 1) {
          console.warn("~ QuantitySelector ~ current value is not in the valid range (1 - 5000):", this.quantity);
          return;
        }
        this.quantity -= 1;
        this.syncUI()
      }
    }

    private syncUI = () => {
      const inputQuantityName = this.dataset.input_name
      var checkElement = this.querySelector(`input[name='${inputQuantityName}']`);
      if (checkElement === null) {
        console.error('~ QuantitySelector ~ cannot locate input for quantity');
        return;
      }

      (checkElement as HTMLInputElement).value = this.quantity.toString();
    }

    connectedCallback() {
      const checkValue =  parseInt(this.dataset.quantity ?? '1', 10);
      if (isNaN(checkValue) || checkValue < 1 || checkValue > 5000 ) { 
        console.warn("~ QuantitySelector ~ provided value of quantity is not a number or not in the valid range of values (1 - 5000):", this.dataset.quantity);
        this.quantity = 1;
      } else {
        this.quantity = checkValue;
      }

      const inputQuantityName = this.dataset.input_name;
      const inputQuantity = this.querySelector(`input[name='${inputQuantityName}']`); 
      console.assert(inputQuantity !== null, "~ QuantitySelector ~ cannot find input with name: %s", inputQuantityName);      
      this.inputValueChangeHandler = this.onInputValueChange();
      inputQuantity?.addEventListener('change', this.inputValueChangeHandler);

      const btnIncrementName = this.dataset.btn_increment;
      const btnIncrement = this.querySelector(`button[name='${btnIncrementName}']`);
      console.assert(btnIncrement !== null, "~ QuantitySelector ~ cannot find button with name: %s", btnIncrementName);
      this.incrementHandler = this.onIncrement();
      btnIncrement?.addEventListener('click', this.incrementHandler);

      const btnDecrementName = this.dataset.btn_decrement;
      const btnDecrement = this.querySelector(`button[name='${btnDecrementName}']`);
      console.assert(btnIncrement !== null, "~ QuantitySelector ~ cannot find button with name: %s", btnDecrementName);
      this.decrementHandler = this.onDecrement();
      btnDecrement?.addEventListener('click', this.decrementHandler);
    }

    disconnectedCallback() {
      const inputQuantityName = this.dataset.input_name;
      const inputQuantity = this.querySelector(`input[name='${inputQuantityName}']`);
      inputQuantity?.removeEventListener('change', this.inputValueChangeHandler);

      const btnIncrementName = this.dataset.btn_increment;
      const btnIcrement = this.querySelector(`button[name='${btnIncrementName}']`);
      btnIcrement?.removeEventListener('click', this.incrementHandler);

      const btnDecrementName = this.dataset.btn_decrement;
      const btnDerement = this.querySelector(`button[name='${btnDecrementName}']`);
      btnDerement?.removeEventListener('click', this.decrementHandler);
    }
  }

  customElements.define('quatnity-selector', QuantitySelector);
</script>